# Adding starting pitcher features for each team
The goal of this notebook is to add FIP, xFIP, SIERA, Avg_Outs, WAR, WHIP and RS/9 for both the home and away starting pitchers.

In [200]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import unidecode
from datetime import datetime
from datetime import timedelta

In [201]:
def chatGPT(text):
  url = "https://api.openai.com/v1/completions"
  headers = {
  "Content-Type": "application/json",
  "Authorization": "Bearer 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",
  }
  data = { 
  "model": "text-davinci-003",
  "prompt": text,
  "max_tokens": 4000,
  "temperature": 1.0,
  }
  response = requests.post(url, headers=headers, json=data)
  output = response.json()["choices"][0]["text"]
  
  return print(output)

# Bringing in the starting pitcher data
We're deciding now that Contact% and SwStr% are excessive and we'll do away with those variables.

In [202]:
SP_df = pd.read_csv('All_Starts_2021_22.csv')

In [203]:
SP_df.head()

,Unnamed: 0,Name,Date,Team,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,Contact%,SIERA,RS/9,SwStr%
0,118,German Marquez,2021-04-06,COL,12.0,0.462,6.67,7.55,0.0,3.00,85.7%,8.93,4.50,5.4%
1,124,Lucas Giolito,2021-04-06,CHW,15.0,0.111,3.73,2.95,0.1,0.75,63.0%,2.91,5.06,19.5%
2,125,Sandy Alcantara,2021-04-06,MIA,18.0,0.154,2.34,4.1,0.2,0.67,60.5%,3.58,0.00,18.1%
3,127,Yu Darvish,2021-04-06,SDP,14.0,0.429,6.81,4.27,0.0,1.93,82.2%,3.85,11.57,8.6%
4,129,Chris Bassitt,2021-04-06,OAK,15.0,0.250,3.73,5.39,0.1,1.13,81.8%,5.55,0.00,8.8%

In [204]:
SP_df.drop(columns = ['Unnamed: 0', 'Name', 'Contact%', 'SwStr%'], inplace = True)

In [205]:
SP_df.head()

         Date Team  Avg_Outs  BABIP   FIP  xFIP  WAR  WHIP SIERA   RS/9
0  2021-04-06  COL      12.0  0.462  6.67  7.55  0.0  3.00  8.93   4.50
1  2021-04-06  CHW      15.0  0.111  3.73  2.95  0.1  0.75  2.91   5.06
2  2021-04-06  MIA      18.0  0.154  2.34   4.1  0.2  0.67  3.58   0.00
3  2021-04-06  SDP      14.0  0.429  6.81  4.27  0.0  1.93  3.85  11.57
4  2021-04-06  OAK      15.0  0.250  3.73  5.39  0.1  1.13  5.55   0.00

In [206]:
SP_df.tail()

            Date Team  Avg_Outs  BABIP   FIP  xFIP  WAR  WHIP SIERA  RS/9
9397  2022-10-05  COL     15.75  0.310  4.51   4.2  0.9  1.37  4.27  4.44
9398  2022-10-05  SFG      3.00  0.311  3.35  4.52  0.8  1.30  4.11  4.30
9399  2022-10-05  MIA     14.11  0.275  6.73  5.06 -1.1  1.46  4.42  5.55
9400  2022-10-05  HOU     19.47  0.285  3.14  3.06  4.1  1.17  3.19  5.87
9401  2022-10-05  TOR     15.48  0.292  3.11  4.23  0.8  1.31  3.98  3.59

In [207]:
SP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9402 entries, 0 to 9401
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      9402 non-null   object
 1   Team      9402 non-null   object
 2   Avg_Outs  9402 non-null   float64
 3   BABIP     9402 non-null   float64
 4   FIP       9402 non-null   object
 5   xFIP      9402 non-null   object
 6   WAR       9402 non-null   float64
 7   WHIP      9402 non-null   float64
 8   SIERA     9402 non-null   object
 9   RS/9      9402 non-null   float64
dtypes: float64(5), object(5)
memory usage: 734.7+ KB

In [208]:
SP_df['Date'] = pd.to_datetime(SP_df['Date'])

In [209]:
chatGPT("""
How can I merge dataframes on two different columns, with one of the columns sharing the same name between the two dataframes,
but the other column having one name in one dataframe and another name in the other dataframe? Your previous answer 
gave me this error: Can only pass argument "on" OR "left_on" and "right_on", not a combination of both.
""")

In this case, you need to use the "left_on" and "right_on" parameters instead of the "on" parameter. This allows you to specify the columns from each dataframe that you want to use for the merge. For example, if the shared column is named 'ID' in both dataframes, you would use the following command:

df1.merge(df2, left_on='ID', right_on='ID')

In [210]:
chatGPT("""
But I also want to merge on another column
""")

ยง Code

pd.merge(adf, bdf, how='outer', on=['x', 'y'])

ยง Output

> ['     x  y    z
0    1  7  0.0
1    1  6  3.0
2    1  5  4.0
3    2  4  0.0
4    2  3  1.0
5    2  2  5.0
6    3  1  7.0
7    3  0  8.0
8  NaN  9  9.0']


ยง END OF DOC

# Bringing in 2021 and 2022 scores/win variable CSVs

In [211]:
main_21 = pd.read_csv('2021_Win_Features.csv')

In [212]:
main_21.head()

,Unnamed: 0,Date,game_id,A_Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,H_Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff
0,0,2021-04-01,0,CHW,3,0,NaN,NaN,NaN,NaN,NaN,LAA,4,1,NaN,NaN,NaN,NaN,NaN
1,1,2021-04-01,1,PIT,5,1,NaN,NaN,NaN,NaN,NaN,CHC,3,0,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-01,2,STL,11,1,NaN,NaN,NaN,NaN,NaN,CIN,6,0,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-01,3,LAD,5,0,NaN,NaN,NaN,NaN,NaN,COL,8,1,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-01,4,CLE,2,0,NaN,NaN,NaN,NaN,NaN,DET,3,1,NaN,NaN,NaN,NaN,NaN

In [213]:
main_21 = main_21.drop(columns = ['Unnamed: 0'])

In [214]:
main_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2311 non-null   object
 1   game_id      2311 non-null   int64
 2   A_Team       2311 non-null   object
 3   A_Score      2311 non-null   int64
 4   A_Win        2311 non-null   int64
 5   A_Team_Wins  2296 non-null   float64
 6   A_Wins_L10   2296 non-null   float64
 7   A_Wins_L30   2296 non-null   float64
 8   A_Py_Wins    2296 non-null   float64
 9   A_Run_Diff   2296 non-null   float64
 10  H_Team       2311 non-null   object
 11  H_Score      2311 non-null   int64
 12  H_Win        2311 non-null   int64
 13  H_Team_Wins  2296 non-null   float64
 14  H_Wins_L10   2296 non-null   float64
 15  H_Wins_L30   2296 non-null   float64
 16  H_Py_Wins    2296 non-null   float64
 17  H_Run_Diff   2296 non-null   float64
dtypes: float64(10), int64(5), object(3)
memory usage: 325.1+ KB

In [215]:
main_22 = pd.read_csv('2022_Win_Features.csv')

In [216]:
main_22 = main_22.drop(columns = ['Unnamed: 0'])

In [217]:
main_22.head()

,Date,game_id,A_Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,H_Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff
0,2022-04-07,2429,HOU,3,1,NaN,NaN,NaN,NaN,NaN,LAA,1,0,NaN,NaN,NaN,NaN,NaN
1,2022-04-07,2430,SDP,2,0,NaN,NaN,NaN,NaN,NaN,ARI,4,1,NaN,NaN,NaN,NaN,NaN
2,2022-04-07,2431,CIN,6,1,NaN,NaN,NaN,NaN,NaN,ATL,3,0,NaN,NaN,NaN,NaN,NaN
3,2022-04-07,2432,MIL,4,0,NaN,NaN,NaN,NaN,NaN,CHC,5,1,NaN,NaN,NaN,NaN,NaN
4,2022-04-07,2433,CLE,1,0,NaN,NaN,NaN,NaN,NaN,KCR,3,1,NaN,NaN,NaN,NaN,NaN

In [218]:
main_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2292 entries, 0 to 2291
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         2292 non-null   object
 1   game_id      2292 non-null   int64
 2   A_Team       2292 non-null   object
 3   A_Score      2292 non-null   int64
 4   A_Win        2292 non-null   int64
 5   A_Team_Wins  2277 non-null   float64
 6   A_Wins_L10   2277 non-null   float64
 7   A_Wins_L30   2277 non-null   float64
 8   A_Py_Wins    2277 non-null   float64
 9   A_Run_Diff   2277 non-null   float64
 10  H_Team       2292 non-null   object
 11  H_Score      2292 non-null   int64
 12  H_Win        2292 non-null   int64
 13  H_Team_Wins  2277 non-null   float64
 14  H_Wins_L10   2277 non-null   float64
 15  H_Wins_L30   2277 non-null   float64
 16  H_Py_Wins    2277 non-null   float64
 17  H_Run_Diff   2277 non-null   float64
dtypes: float64(10), int64(5), object(3)
memory usage: 322.4+ KB

In [219]:
main_df = pd.concat([main_21, main_22])

In [220]:
main_df['Date'] = pd.to_datetime(main_df['Date'])

In [221]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4603 entries, 0 to 2291
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4603 non-null   datetime64[ns]
 1   game_id      4603 non-null   int64
 2   A_Team       4603 non-null   object
 3   A_Score      4603 non-null   int64
 4   A_Win        4603 non-null   int64
 5   A_Team_Wins  4573 non-null   float64
 6   A_Wins_L10   4573 non-null   float64
 7   A_Wins_L30   4573 non-null   float64
 8   A_Py_Wins    4573 non-null   float64
 9   A_Run_Diff   4573 non-null   float64
 10  H_Team       4603 non-null   object
 11  H_Score      4603 non-null   int64
 12  H_Win        4603 non-null   int64
 13  H_Team_Wins  4573 non-null   float64
 14  H_Wins_L10   4573 non-null   float64
 15  H_Wins_L30   4573 non-null   float64
 16  H_Py_Wins    4573 non-null   float64
 17  H_Run_Diff   4573 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(5), object(2)
memory usage: 683.3+ KB

# Dividing column names
We'll break column names into lists that will come in handy when we split the main_df by home and away data.

In [222]:
cols_list = list(main_df.columns)

In [223]:
cols_list

['Date',
 'game_id',
 'A_Team',
 'A_Score',
 'A_Win',
 'A_Team_Wins',
 'A_Wins_L10',
 'A_Wins_L30',
 'A_Py_Wins',
 'A_Run_Diff',
 'H_Team',
 'H_Score',
 'H_Win',
 'H_Team_Wins',
 'H_Wins_L10',
 'H_Wins_L30',
 'H_Py_Wins',
 'H_Run_Diff']

In [224]:
away_cols = cols_list[:11]
home_cols = cols_list[:3] + cols_list[10:]

In [225]:
away_cols, home_cols

(['Date',
  'game_id',
  'A_Team',
  'A_Score',
  'A_Win',
  'A_Team_Wins',
  'A_Wins_L10',
  'A_Wins_L30',
  'A_Py_Wins',
  'A_Run_Diff',
  'H_Team'],
 ['Date',
  'game_id',
  'A_Team',
  'H_Team',
  'H_Score',
  'H_Win',
  'H_Team_Wins',
  'H_Wins_L10',
  'H_Wins_L30',
  'H_Py_Wins',
  'H_Run_Diff'])

# Splitting the main_df into home and away
Now we'll put those lists to use.

In [226]:
away_scores_df = main_df[away_cols]

In [227]:
away_scores_df.head()

,Date,game_id,A_Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,H_Team
0,2021-04-01,0,CHW,3,0,NaN,NaN,NaN,NaN,NaN,LAA
1,2021-04-01,1,PIT,5,1,NaN,NaN,NaN,NaN,NaN,CHC
2,2021-04-01,2,STL,11,1,NaN,NaN,NaN,NaN,NaN,CIN
3,2021-04-01,3,LAD,5,0,NaN,NaN,NaN,NaN,NaN,COL
4,2021-04-01,4,CLE,2,0,NaN,NaN,NaN,NaN,NaN,DET

In [228]:
away_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4603 entries, 0 to 2291
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4603 non-null   datetime64[ns]
 1   game_id      4603 non-null   int64
 2   A_Team       4603 non-null   object
 3   A_Score      4603 non-null   int64
 4   A_Win        4603 non-null   int64
 5   A_Team_Wins  4573 non-null   float64
 6   A_Wins_L10   4573 non-null   float64
 7   A_Wins_L30   4573 non-null   float64
 8   A_Py_Wins    4573 non-null   float64
 9   A_Run_Diff   4573 non-null   float64
 10  H_Team       4603 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 431.5+ KB

In [229]:
home_scores_df = main_df[home_cols]

In [230]:
home_scores_df.head()

,Date,game_id,A_Team,H_Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff
0,2021-04-01,0,CHW,LAA,4,1,NaN,NaN,NaN,NaN,NaN
1,2021-04-01,1,PIT,CHC,3,0,NaN,NaN,NaN,NaN,NaN
2,2021-04-01,2,STL,CIN,6,0,NaN,NaN,NaN,NaN,NaN
3,2021-04-01,3,LAD,COL,8,1,NaN,NaN,NaN,NaN,NaN
4,2021-04-01,4,CLE,DET,3,1,NaN,NaN,NaN,NaN,NaN

In [231]:
home_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4603 entries, 0 to 2291
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4603 non-null   datetime64[ns]
 1   game_id      4603 non-null   int64
 2   A_Team       4603 non-null   object
 3   H_Team       4603 non-null   object
 4   H_Score      4603 non-null   int64
 5   H_Win        4603 non-null   int64
 6   H_Team_Wins  4573 non-null   float64
 7   H_Wins_L10   4573 non-null   float64
 8   H_Wins_L30   4573 non-null   float64
 9   H_Py_Wins    4573 non-null   float64
 10  H_Run_Diff   4573 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 431.5+ KB

# Away scores renaming
For merging purposes, A_Team becomes Team and H_Team becomes Opp for Opponent.

In [232]:
away_scores_df = away_scores_df.rename(columns = {'A_Team':'Team', 'H_Team': 'Opp'})

In [233]:
away_scores_df.head()

,Date,game_id,Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,Opp
0,2021-04-01,0,CHW,3,0,NaN,NaN,NaN,NaN,NaN,LAA
1,2021-04-01,1,PIT,5,1,NaN,NaN,NaN,NaN,NaN,CHC
2,2021-04-01,2,STL,11,1,NaN,NaN,NaN,NaN,NaN,CIN
3,2021-04-01,3,LAD,5,0,NaN,NaN,NaN,NaN,NaN,COL
4,2021-04-01,4,CLE,2,0,NaN,NaN,NaN,NaN,NaN,DET

In [234]:
away_scores_df = pd.merge(away_scores_df, SP_df, how = "left", on = ['Date', 'Team'])

In [235]:
away_scores_df.head()

,Date,game_id,Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,Opp,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
0,2021-04-01,0,CHW,3,0,NaN,NaN,NaN,NaN,NaN,LAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-01,1,PIT,5,1,NaN,NaN,NaN,NaN,NaN,CHC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-01,2,STL,11,1,NaN,NaN,NaN,NaN,NaN,CIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-01,3,LAD,5,0,NaN,NaN,NaN,NaN,NaN,COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-01,4,CLE,2,0,NaN,NaN,NaN,NaN,NaN,DET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
away_scores_df.tail()

,Date,game_id,Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,Opp,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
4598,2022-10-05,4854,LAA,2,0,73.0,7.0,16.0,75.0,-44.0,OAK,17.85,0.294,2.44,2.66,5.4,1.03,2.74,4.42
4599,2022-10-05,4855,STL,3,0,93.0,5.0,17.0,95.0,137.0,PIT,12.33,0.330,5.03,4.94,0.0,1.69,4.84,9.40
4600,2022-10-05,4856,SFG,8,1,80.0,6.0,17.0,82.0,12.0,SDP,3.00,0.311,3.35,4.52,0.8,1.30,4.11,4.30
4601,2022-10-05,4857,DET,4,0,66.0,7.0,16.0,63.0,-155.0,SEA,13.81,0.281,4.77,4.82,0.1,1.31,4.89,3.59
4602,2022-10-05,4858,NYY,2,0,99.0,6.0,20.0,106.0,242.0,TEX,15.15,0.251,4.27,4.47,0.7,1.12,4.36,3.31

In [237]:
away_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4603 entries, 0 to 4602
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4603 non-null   datetime64[ns]
 1   game_id      4603 non-null   int64
 2   Team         4603 non-null   object
 3   A_Score      4603 non-null   int64
 4   A_Win        4603 non-null   int64
 5   A_Team_Wins  4573 non-null   float64
 6   A_Wins_L10   4573 non-null   float64
 7   A_Wins_L30   4573 non-null   float64
 8   A_Py_Wins    4573 non-null   float64
 9   A_Run_Diff   4573 non-null   float64
 10  Opp          4603 non-null   object
 11  Avg_Outs     4468 non-null   float64
 12  BABIP        4468 non-null   float64
 13  FIP          4468 non-null   object
 14  xFIP         4468 non-null   object
 15  WAR          4468 non-null   float64
 16  WHIP         4468 non-null   float64
 17  SIERA        4468 non-null   object
 18  RS/9         4468 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 719.2+ KB

# Dropping rows with missing values
Remember that for pitchers making their first start in 2021, we have no prior data, so we'll drop those rows.

In [238]:
away_scores_df = away_scores_df.dropna()

In [239]:
away_scores_df.head()

,Date,game_id,Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,Opp,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
59,2021-04-06,59,HOU,4,1,4.0,4.0,4.0,4.0,25.0,LAA,18.00,0.200,1.84,3.6,0.2,0.50,3.83,4.50
60,2021-04-06,60,TBR,5,0,2.0,2.0,2.0,1.0,-11.0,BOS,18.00,0.077,1.17,2.35,0.3,0.17,2.27,0.00
61,2021-04-06,61,MIL,4,1,1.0,1.0,1.0,1.0,-9.0,CHC,15.48,1.000,1.67,2.55,0.1,2.50,4.14,4.50
67,2021-04-06,67,LAD,5,1,4.0,4.0,4.0,3.0,12.0,OAK,17.00,0.400,2.99,3.62,0.1,1.94,3.77,6.35
70,2021-04-06,70,CHW,10,1,2.0,2.0,2.0,3.0,4.0,SEA,15.00,0.111,3.73,2.95,0.1,0.75,2.91,5.06

In [240]:
away_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4453 entries, 59 to 4602
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4453 non-null   datetime64[ns]
 1   game_id      4453 non-null   int64
 2   Team         4453 non-null   object
 3   A_Score      4453 non-null   int64
 4   A_Win        4453 non-null   int64
 5   A_Team_Wins  4453 non-null   float64
 6   A_Wins_L10   4453 non-null   float64
 7   A_Wins_L30   4453 non-null   float64
 8   A_Py_Wins    4453 non-null   float64
 9   A_Run_Diff   4453 non-null   float64
 10  Opp          4453 non-null   object
 11  Avg_Outs     4453 non-null   float64
 12  BABIP        4453 non-null   float64
 13  FIP          4453 non-null   object
 14  xFIP         4453 non-null   object
 15  WAR          4453 non-null   float64
 16  WHIP         4453 non-null   float64
 17  SIERA        4453 non-null   object
 18  RS/9         4453 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 695.8+ KB

# Renaming again
Team becomes Away_Team again and Opp becomes Home_Team

In [241]:
away_scores_df = away_scores_df.rename(columns = {'Team': 'A_Team', 'Opp':'H_Team'})

In [242]:
home_scores_df = home_scores_df.rename(columns = {'H_Team':'Team'})

In [243]:
home_scores_df.head()

,Date,game_id,A_Team,Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff
0,2021-04-01,0,CHW,LAA,4,1,NaN,NaN,NaN,NaN,NaN
1,2021-04-01,1,PIT,CHC,3,0,NaN,NaN,NaN,NaN,NaN
2,2021-04-01,2,STL,CIN,6,0,NaN,NaN,NaN,NaN,NaN
3,2021-04-01,3,LAD,COL,8,1,NaN,NaN,NaN,NaN,NaN
4,2021-04-01,4,CLE,DET,3,1,NaN,NaN,NaN,NaN,NaN

In [244]:
home_scores_df = pd.merge(home_scores_df, SP_df, how = "left", on = ['Date', 'Team'])

In [245]:
home_scores_df.head()

,Date,game_id,A_Team,Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
0,2021-04-01,0,CHW,LAA,4,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-04-01,1,PIT,CHC,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-01,2,STL,CIN,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-01,3,LAD,COL,8,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-04-01,4,CLE,DET,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
home_scores_df = home_scores_df.dropna()

In [247]:
home_scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4435 entries, 59 to 4602
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4435 non-null   datetime64[ns]
 1   game_id      4435 non-null   int64
 2   A_Team       4435 non-null   object
 3   Team         4435 non-null   object
 4   H_Score      4435 non-null   int64
 5   H_Win        4435 non-null   int64
 6   H_Team_Wins  4435 non-null   float64
 7   H_Wins_L10   4435 non-null   float64
 8   H_Wins_L30   4435 non-null   float64
 9   H_Py_Wins    4435 non-null   float64
 10  H_Run_Diff   4435 non-null   float64
 11  Avg_Outs     4435 non-null   float64
 12  BABIP        4435 non-null   float64
 13  FIP          4435 non-null   object
 14  xFIP         4435 non-null   object
 15  WAR          4435 non-null   float64
 16  WHIP         4435 non-null   float64
 17  SIERA        4435 non-null   object
 18  RS/9         4435 non-null   float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 693.0+ KB

In [248]:
home_scores_df.head()

,Date,game_id,A_Team,Team,H_Score,H_Win,H_Team_Wins,H_Wins_L10,H_Wins_L30,H_Py_Wins,H_Run_Diff,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
59,2021-04-06,59,HOU,LAA,2,0,4.0,4.0,4.0,3.0,3.0,18.0,0.294,3.84,3.14,0.1,1.17,3.39,3.00
63,2021-04-06,63,ARI,COL,8,0,1.0,1.0,1.0,2.0,-5.0,12.0,0.462,6.67,7.55,0.0,3.00,8.93,4.50
65,2021-04-06,65,STL,MIA,2,0,1.0,1.0,1.0,2.0,-1.0,18.0,0.154,2.34,4.1,0.2,0.67,3.58,0.00
66,2021-04-06,66,BAL,NYY,7,1,2.0,2.0,2.0,3.0,6.0,15.0,0.333,3.73,3.61,0.1,1.31,3.24,3.38
67,2021-04-06,67,LAD,OAK,1,0,0.0,0.0,0.0,0.0,-33.0,15.0,0.250,3.73,5.39,0.1,1.13,5.55,0.00

In [249]:
home_scores_df = home_scores_df.rename(columns = {'Team': 'H_Team'})

In [250]:
away_scores_df.head()

,Date,game_id,A_Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,H_Team,Avg_Outs,BABIP,FIP,xFIP,WAR,WHIP,SIERA,RS/9
59,2021-04-06,59,HOU,4,1,4.0,4.0,4.0,4.0,25.0,LAA,18.00,0.200,1.84,3.6,0.2,0.50,3.83,4.50
60,2021-04-06,60,TBR,5,0,2.0,2.0,2.0,1.0,-11.0,BOS,18.00,0.077,1.17,2.35,0.3,0.17,2.27,0.00
61,2021-04-06,61,MIL,4,1,1.0,1.0,1.0,1.0,-9.0,CHC,15.48,1.000,1.67,2.55,0.1,2.50,4.14,4.50
67,2021-04-06,67,LAD,5,1,4.0,4.0,4.0,3.0,12.0,OAK,17.00,0.400,2.99,3.62,0.1,1.94,3.77,6.35
70,2021-04-06,70,CHW,10,1,2.0,2.0,2.0,3.0,4.0,SEA,15.00,0.111,3.73,2.95,0.1,0.75,2.91,5.06

In [251]:
scores_df = pd.merge(away_scores_df, home_scores_df, how = "left", on = ['Date', 'H_Team', 'A_Team', 'game_id'], suffixes = ('_A', '_H'))

In [252]:
scores_df.head()

,Date,game_id,A_Team,A_Score,A_Win,A_Team_Wins,A_Wins_L10,A_Wins_L30,A_Py_Wins,A_Run_Diff,...,H_Py_Wins,H_Run_Diff,Avg_Outs_H,BABIP_H,FIP_H,xFIP_H,WAR_H,WHIP_H,SIERA_H,RS/9_H
0,2021-04-06,59,HOU,4,1,4.0,4.0,4.0,4.0,25.0,...,3.0,3.0,18.0,0.294,3.84,3.14,0.1,1.17,3.39,3.0
1,2021-04-06,60,TBR,5,0,2.0,2.0,2.0,1.0,-11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-04-06,61,MIL,4,1,1.0,1.0,1.0,1.0,-9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-04-06,67,LAD,5,1,4.0,4.0,4.0,3.0,12.0,...,0.0,-33.0,15.0,0.250,3.73,5.39,0.1,1.13,5.55,0.0
4,2021-04-06,70,CHW,10,1,2.0,2.0,2.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4453 entries, 0 to 4452
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4453 non-null   datetime64[ns]
 1   game_id      4453 non-null   int64
 2   A_Team       4453 non-null   object
 3   A_Score      4453 non-null   int64
 4   A_Win        4453 non-null   int64
 5   A_Team_Wins  4453 non-null   float64
 6   A_Wins_L10   4453 non-null   float64
 7   A_Wins_L30   4453 non-null   float64
 8   A_Py_Wins    4453 non-null   float64
 9   A_Run_Diff   4453 non-null   float64
 10  H_Team       4453 non-null   object
 11  Avg_Outs_A   4453 non-null   float64
 12  BABIP_A      4453 non-null   float64
 13  FIP_A        4453 non-null   object
 14  xFIP_A       4453 non-null   object
 15  WAR_A        4453 non-null   float64
 16  WHIP_A       4453 non-null   float64
 17  SIERA_A      4453 non-null   object
 18  RS/9_A       4453 non-null   float64
 19  H_Score      4367 non-null   float64
 20  H_Win        4367 non-null   float64
 21  H_Team_Wins  4367 non-null   float64
 22  H_Wins_L10   4367 non-null   float64
 23  H_Wins_L30   4367 non-null   float64
 24  H_Py_Wins    4367 non-null   float64
 25  H_Run_Diff   4367 non-null   float64
 26  Avg_Outs_H   4367 non-null   float64
 27  BABIP_H      4367 non-null   float64
 28  FIP_H        4367 non-null   object
 29  xFIP_H       4367 non-null   object
 30  WAR_H        4367 non-null   float64
 31  WHIP_H       4367 non-null   float64
 32  SIERA_H      4367 non-null   object
 33  RS/9_H       4367 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(3), object(8)
memory usage: 1.2+ MB

In [254]:
scores_df = scores_df.dropna()

In [255]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4367 entries, 0 to 4452
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4367 non-null   datetime64[ns]
 1   game_id      4367 non-null   int64
 2   A_Team       4367 non-null   object
 3   A_Score      4367 non-null   int64
 4   A_Win        4367 non-null   int64
 5   A_Team_Wins  4367 non-null   float64
 6   A_Wins_L10   4367 non-null   float64
 7   A_Wins_L30   4367 non-null   float64
 8   A_Py_Wins    4367 non-null   float64
 9   A_Run_Diff   4367 non-null   float64
 10  H_Team       4367 non-null   object
 11  Avg_Outs_A   4367 non-null   float64
 12  BABIP_A      4367 non-null   float64
 13  FIP_A        4367 non-null   object
 14  xFIP_A       4367 non-null   object
 15  WAR_A        4367 non-null   float64
 16  WHIP_A       4367 non-null   float64
 17  SIERA_A      4367 non-null   object
 18  RS/9_A       4367 non-null   float64
 19  H_Score      4367 non-null   float64
 20  H_Win        4367 non-null   float64
 21  H_Team_Wins  4367 non-null   float64
 22  H_Wins_L10   4367 non-null   float64
 23  H_Wins_L30   4367 non-null   float64
 24  H_Py_Wins    4367 non-null   float64
 25  H_Run_Diff   4367 non-null   float64
 26  Avg_Outs_H   4367 non-null   float64
 27  BABIP_H      4367 non-null   float64
 28  FIP_H        4367 non-null   object
 29  xFIP_H       4367 non-null   object
 30  WAR_H        4367 non-null   float64
 31  WHIP_H       4367 non-null   float64
 32  SIERA_H      4367 non-null   object
 33  RS/9_H       4367 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(3), object(8)
memory usage: 1.2+ MB

## Spot check

In [256]:
scores_df.iloc[908, :]

Date           2021-06-23 00:00:00
game_id                       1098
A_Team                         WSN
A_Score                         13
A_Win                            1
A_Team_Wins                     34
A_Wins_L10                       8
A_Wins_L30                      17
A_Py_Wins                       34
A_Run_Diff                     -11
H_Team                         PHI
Avg_Outs_A                    15.3
BABIP_A                      0.241
FIP_A                         3.87
xFIP_A                        4.01
WAR_A                          0.9
WHIP_A                        1.15
SIERA_A                       4.42
RS/9_A                        4.03
H_Score                         12
H_Win                            0
H_Team_Wins                     34
H_Wins_L10                       5
H_Wins_L30                      13
H_Py_Wins                       34
H_Run_Diff                     -12
Avg_Outs_H                      14
BABIP_H                      0.266
FIP_H                         5.28
xFIP_H                        4.79
WAR_H                          0.1
WHIP_H                        1.42
SIERA_H                       4.70
RS/9_H                        5.64
Name: 946, dtype: object

In [257]:
4367/4859

0.8987445976538382

# A couple more checks
Let's make sure A_Win and H_Win add up to 1 in every row and also that game_id_A == game_id_H in every column.

In [258]:
len(scores_df[scores_df['A_Win'] + scores_df['H_Win'] == 1])

4367

# We still have 90 percent of the rows
Out of 4859 games played in 2021 and 2022, we've retained data from 4367 of them. That's 90 percent. We'll probably also have to shed the TOR home games that weren't played in Toronto because of COVID.<br>

# Renaming
Now let's rename the columns so that all columns relating to either the home or away team starts with 'H_' or 'A_' instead of some of them starting with that and some of them ending in '_H' or '_A'

In [259]:
scores_df.columns

Index(['Date', 'game_id', 'A_Team', 'A_Score', 'A_Win', 'A_Team_Wins',
       'A_Wins_L10', 'A_Wins_L30', 'A_Py_Wins', 'A_Run_Diff', 'H_Team',
       'Avg_Outs_A', 'BABIP_A', 'FIP_A', 'xFIP_A', 'WAR_A', 'WHIP_A',
       'SIERA_A', 'RS/9_A', 'H_Score', 'H_Win', 'H_Team_Wins', 'H_Wins_L10',
       'H_Wins_L30', 'H_Py_Wins', 'H_Run_Diff', 'Avg_Outs_H', 'BABIP_H',
       'FIP_H', 'xFIP_H', 'WAR_H', 'WHIP_H', 'SIERA_H', 'RS/9_H'],
      dtype='object')

In [260]:
old_names = ['game_id_A', 'Avg_Outs_A', 'BABIP_A', 'FIP_A', 'xFIP_A', 'WAR_A', 'WHIP_A',
       'SIERA_A', 'RS/9_A', 'Avg_Outs_H', 'BABIP_H','FIP_H', 'xFIP_H', 'WAR_H', 'WHIP_H', 'SIERA_H', 'RS/9_H']

In [261]:
new_names = ['game_id', 'A_Avg_Outs', 'A_BABIP', 'A_FIP', 'A_xFIP', 'A_WAR', 'A_WHIP',
       'A_SIERA', 'A_RS/9', 'H_Avg_Outs', 'H_BABIP', 'H_FIP', 'H_xFIP', 'H_WAR', 'H_WHIP', 'H_SIERA', 'H_RS/9']

In [262]:
name_change = dict(zip(old_names, new_names))

In [263]:
name_change

{'game_id_A': 'game_id',
 'Avg_Outs_A': 'A_Avg_Outs',
 'BABIP_A': 'A_BABIP',
 'FIP_A': 'A_FIP',
 'xFIP_A': 'A_xFIP',
 'WAR_A': 'A_WAR',
 'WHIP_A': 'A_WHIP',
 'SIERA_A': 'A_SIERA',
 'RS/9_A': 'A_RS/9',
 'Avg_Outs_H': 'H_Avg_Outs',
 'BABIP_H': 'H_BABIP',
 'FIP_H': 'H_FIP',
 'xFIP_H': 'H_xFIP',
 'WAR_H': 'H_WAR',
 'WHIP_H': 'H_WHIP',
 'SIERA_H': 'H_SIERA',
 'RS/9_H': 'H_RS/9'}

In [264]:
scores_df = scores_df.rename(columns = name_change)

In [265]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4367 entries, 0 to 4452
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4367 non-null   datetime64[ns]
 1   game_id      4367 non-null   int64
 2   A_Team       4367 non-null   object
 3   A_Score      4367 non-null   int64
 4   A_Win        4367 non-null   int64
 5   A_Team_Wins  4367 non-null   float64
 6   A_Wins_L10   4367 non-null   float64
 7   A_Wins_L30   4367 non-null   float64
 8   A_Py_Wins    4367 non-null   float64
 9   A_Run_Diff   4367 non-null   float64
 10  H_Team       4367 non-null   object
 11  A_Avg_Outs   4367 non-null   float64
 12  A_BABIP      4367 non-null   float64
 13  A_FIP        4367 non-null   object
 14  A_xFIP       4367 non-null   object
 15  A_WAR        4367 non-null   float64
 16  A_WHIP       4367 non-null   float64
 17  A_SIERA      4367 non-null   object
 18  A_RS/9       4367 non-null   float64
 19  H_Score      4367 non-null   float64
 20  H_Win        4367 non-null   float64
 21  H_Team_Wins  4367 non-null   float64
 22  H_Wins_L10   4367 non-null   float64
 23  H_Wins_L30   4367 non-null   float64
 24  H_Py_Wins    4367 non-null   float64
 25  H_Run_Diff   4367 non-null   float64
 26  H_Avg_Outs   4367 non-null   float64
 27  H_BABIP      4367 non-null   float64
 28  H_FIP        4367 non-null   object
 29  H_xFIP       4367 non-null   object
 30  H_WAR        4367 non-null   float64
 31  H_WHIP       4367 non-null   float64
 32  H_SIERA      4367 non-null   object
 33  H_RS/9       4367 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(3), object(8)
memory usage: 1.2+ MB

# Moving a column
We should move 'H_Team' to the column before 'H_Score' to organize the columns a little better.

In [266]:
chatGPT("How do I move a column in a pandas dataframe?")

You can use the 'df.reindex' method to move columns. Reindex allows you to reorder the rows as well as columns. For example,

columns_order = ['A','B','C']
df = df.reindex(columns=columns_order)

will reorder the columns to A, B, and C in the data frame.

In [267]:
scores_df = scores_df.reindex(columns = [*scores_df.columns[:19], 'H_Team', *scores_df.columns[19:]])

In [268]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4367 entries, 0 to 4452
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         4367 non-null   datetime64[ns]
 1   game_id      4367 non-null   int64
 2   A_Team       4367 non-null   object
 3   A_Score      4367 non-null   int64
 4   A_Win        4367 non-null   int64
 5   A_Team_Wins  4367 non-null   float64
 6   A_Wins_L10   4367 non-null   float64
 7   A_Wins_L30   4367 non-null   float64
 8   A_Py_Wins    4367 non-null   float64
 9   A_Run_Diff   4367 non-null   float64
 10  H_Team       4367 non-null   object
 11  A_Avg_Outs   4367 non-null   float64
 12  A_BABIP      4367 non-null   float64
 13  A_FIP        4367 non-null   object
 14  A_xFIP       4367 non-null   object
 15  A_WAR        4367 non-null   float64
 16  A_WHIP       4367 non-null   float64
 17  A_SIERA      4367 non-null   object
 18  A_RS/9       4367 non-null   float64
 19  H_Team       4367 non-null   object
 20  H_Score      4367 non-null   float64
 21  H_Win        4367 non-null   float64
 22  H_Team_Wins  4367 non-null   float64
 23  H_Wins_L10   4367 non-null   float64
 24  H_Wins_L30   4367 non-null   float64
 25  H_Py_Wins    4367 non-null   float64
 26  H_Run_Diff   4367 non-null   float64
 27  H_Avg_Outs   4367 non-null   float64
 28  H_BABIP      4367 non-null   float64
 29  H_FIP        4367 non-null   object
 30  H_xFIP       4367 non-null   object
 31  H_WAR        4367 non-null   float64
 32  H_WHIP       4367 non-null   float64
 33  H_SIERA      4367 non-null   object
 34  H_RS/9       4367 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(3), object(9)
memory usage: 1.2+ MB

# Storing in CSV
Now we have a CSV with all the rows of our data that includes starting pitcher features.<br>

The next step will be to add ballpark data, hitting data for each team and finally we can derive our target variable.

In [269]:
filepath = r'C:\Users\Owner\Sports Betting\MLB_Game_Outcome\main_SP_features.csv'
scores_df.to_csv(filepath)