# Our betting day begins here
**This is the first notebook that runs when we use our model**<br>

Before we bet on games, we need to wrap up our previous day of betting. This notebook concatenates the daily model results and shows how the model is performing in live games.<br>

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import datetime as dt
from datetime import timedelta
import time
import papermill as pm

In [2]:
def clean_unnamed(df):
    """
    Deletes 'Unnamed: 0' column that we somehow get after reading in our CSVs
    """
    if 'Unnamed: 0' in df.columns:
        df = df.drop(columns = ['Unnamed: 0'])
        return df
    print("Dataframe does not have 'Unnamed: 0' column.")

In [3]:
today = dt.date.today()

In [4]:
today_str = str(today)

Since we're not betting every single day, we input the number of days it's been since our last bet so we can derive the date to use to retrieve the CSV that needs to be filled in. So the "yesterday" variable might not necessarily be the previous day.

In [5]:
since_last_bet = int(input("How many days since your last bet? "))

How many days since your last bet? 1

In [6]:
yesterday = dt.date.today() - timedelta(days = since_last_bet)

In [7]:
yesterday_str = str(yesterday)

This csv is produced in our modeling notebook.

In [8]:
yesterday_df = pd.read_csv('Predictions_Results_' + yesterday_str + '.csv')

In [9]:
yesterday_df

,Away,Home,A_Starter,H_Starter,Date,Pred,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Result,Money_Won,Profit
0,SEA,KCR,George Kirby,Angel Zerpa,2023-08-17,0,0.648682,0.351318,-185.0,185.0,0,0,NaN,0,0
1,BOS,WSN,Chris Sale,Patrick Corbin,2023-08-17,0,0.510778,0.489222,-104.0,104.0,0,0,NaN,0,0
2,DET,CLE,Tarik Skubal,Xzavion Curry,2023-08-17,1,0.475340,0.524660,110.0,-110.0,0,0,NaN,0,0
3,NYM,STL,Jose Quintana,Adam Wainwright,2023-08-17,1,0.437087,0.562913,129.0,-129.0,0,0,NaN,0,0
4,ARI,SDP,Zac Gallen,Rich Hill,2023-08-17,1,0.473180,0.526820,111.0,-111.0,0,0,NaN,0,0
5,MIL,LAD,Corbin Burnes,Lance Lynn,2023-08-17,1,0.433129,0.566871,131.0,-131.0,0,0,NaN,0,0

In [10]:
team_codes = [
    'ARI', 'ARI', 'ATL', 'BAL', 'BOS', 'CHW', 'CHC', 'CIN', 'CLE', 'COL', 'DET', 'HOU',
    'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYY', 'NYM', 'OAK', 'PHI', 'PIT',
    'SDP', 'SFG', 'SEA', 'STL', 'TBR', 'TEX', 'TOR', 'WSN'
]

# Wrapping up previous day of betting
This is where we record our betting results. Our answers to the prompts will update yesterday_df.<br>

**When entering the three-letter code for the year, please make sure it matches the code in the team_codes list in the previous cell. Otherwise, you'll get an error and will need to go back to the cell where we read in the yesterday_df.**

In [11]:
def record_bets(num, yesterday_df):
    if num_games > 0:
        for i in range(num_games):
            what_team = input("Enter the team you bet on. ").upper()
            amount = input("Enter the amount you bet. ")
            if what_team in yesterday_df['Away'].values:
                yesterday_df.loc[yesterday_df['Away'] == what_team, 'A_Amt_Bet'] = float(amount)
                won = float(input("How much did you win, including the stake? "))
                yesterday_df.loc[yesterday_df['Away'] == what_team, 'Money_Won'] = won
            else:
                yesterday_df.loc[yesterday_df['Home'] == what_team, 'H_Amt_Bet'] = float(amount)
                won = float(input("How much did you win, including the stake? "))
                yesterday_df.loc[yesterday_df['Home'] == what_team, 'Money_Won'] = won
            correct = input("Is the information you entered correct?").upper()
            if correct != 'Y':
                yesterday_df = pd.read_csv('Predictions_Results_' + yesterday_str + '.csv')
                record_bets(num)

In [12]:
num_games = int(input("How many games did you bet on during your most recent betting day? "))

How many games did you bet on during your most recent betting day? 1

In [13]:
record_bets(num_games, yesterday_df)

Enter the team you bet on. STL
Enter the amount you bet. 10
How much did you win, including the stake? 0
Is the information you entered correct?Y

In [14]:
yesterday_df

,Away,Home,A_Starter,H_Starter,Date,Pred,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Result,Money_Won,Profit
0,SEA,KCR,George Kirby,Angel Zerpa,2023-08-17,0,0.648682,0.351318,-185.0,185.0,0,0,NaN,0,0
1,BOS,WSN,Chris Sale,Patrick Corbin,2023-08-17,0,0.510778,0.489222,-104.0,104.0,0,0,NaN,0,0
2,DET,CLE,Tarik Skubal,Xzavion Curry,2023-08-17,1,0.475340,0.524660,110.0,-110.0,0,0,NaN,0,0
3,NYM,STL,Jose Quintana,Adam Wainwright,2023-08-17,1,0.437087,0.562913,129.0,-129.0,0,10,NaN,0,0
4,ARI,SDP,Zac Gallen,Rich Hill,2023-08-17,1,0.473180,0.526820,111.0,-111.0,0,0,NaN,0,0
5,MIL,LAD,Corbin Burnes,Lance Lynn,2023-08-17,1,0.433129,0.566871,131.0,-131.0,0,0,NaN,0,0

In [15]:
#yesterday_df.loc[yesterday_df['Home'] == what_team, 'Money_Won'] = won #Is this line of code necessary?

In [16]:
yesterday_df = yesterday_df.rename(columns = {'Away' : 'Away_Team', 'Home': 'Home_Team'})

In [17]:
yesterday_df['Profit'] = yesterday_df['Money_Won'] - (yesterday_df['A_Amt_Bet'] + yesterday_df['H_Amt_Bet'])

In [18]:
yesterday_df

,Away_Team,Home_Team,A_Starter,H_Starter,Date,Pred,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Result,Money_Won,Profit
0,SEA,KCR,George Kirby,Angel Zerpa,2023-08-17,0,0.648682,0.351318,-185.0,185.0,0,0,NaN,0,0
1,BOS,WSN,Chris Sale,Patrick Corbin,2023-08-17,0,0.510778,0.489222,-104.0,104.0,0,0,NaN,0,0
2,DET,CLE,Tarik Skubal,Xzavion Curry,2023-08-17,1,0.475340,0.524660,110.0,-110.0,0,0,NaN,0,0
3,NYM,STL,Jose Quintana,Adam Wainwright,2023-08-17,1,0.437087,0.562913,129.0,-129.0,0,10,NaN,0,-10
4,ARI,SDP,Zac Gallen,Rich Hill,2023-08-17,1,0.473180,0.526820,111.0,-111.0,0,0,NaN,0,0
5,MIL,LAD,Corbin Burnes,Lance Lynn,2023-08-17,1,0.433129,0.566871,131.0,-131.0,0,0,NaN,0,0

# Creating CSV of game scores for season
Using the Papermill library, we'll run the notebook where we scrape all the MLB scores this season from <a href = 'https://www.baseball-reference.com/leagues/majors/2023-schedule.shtml'>Baseball Reference</a>, then use a temporary notebook, 'stored_scores' or output_notebook, to store the code, then we run Papermill's execute_notebook function.<br>

Then we can read in the 2023_Game_Scores csv and use it to merge with the Predictions_Results dataframe so we can evaluate how our model did with yesterday's games (or our most recent betting day). In the Live_Data_Wrangling notebook, this data will be used to create and derive the various win variables for our model.

In [19]:
input_notebook = 'Game_Scores.ipynb'

In [20]:
output_notebook = 'stored_scores.ipynb'

In [21]:
pm.execute_notebook(input_notebook, output_notebook)

HBox(children=(HTML(value='Executing'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

{'cells': [{'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:21.460781',
     'end_time': '2023-08-18T14:47:21.473037',
     'duration': 0.012256,
     'status': 'completed'}},
   'source': "# Scraping 2021 and 2022 game scores\nWe only need to scrape two <a href='https://www.baseball-reference.com/leagues/majors/2022-schedule.shtml'>Baseball Reference</a> pages to wrangle scores from the 2021 and 2022 seasons.\n\nThis took a little figuring out because unlike most of the pages we scraped, this didn't come from a table. Instead, each score is listed under a date heading.\n",
   'id': '92d14b2f'},
  {'cell_type': 'code',
   'execution_count': 1,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:21.487414',
     'end_time': '2023-08-18T14:47:22.208933',
     'duration': 0.721519,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:21.504365Z',
     'iopub.execute_input': '2023-08-18T14:47:21.505354Z',
     'iopub.status.idle': '2023-08-18T14:47:22.207877Z',
     'shell.execute_reply': '2023-08-18T14:47:22.208933Z'}},
   'outputs': [],
   'source': 'import pandas as pd\nimport numpy as np\nfrom bs4 import BeautifulSoup\nimport requests\nimport unidecode\nfrom datetime import datetime\nfrom datetime import timedelta',
   'id': '6fdf0906'},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:22.219898',
     'end_time': '2023-08-18T14:47:22.227875',
     'duration': 0.007977,
     'status': 'completed'}},
   'outputs': [],
   'source': '',
   'id': 'a59bd77a'},
  {'cell_type': 'code',
   'execution_count': 2,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:22.239238',
     'end_time': '2023-08-18T14:47:22.272577',
     'duration': 0.033339,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:22.254455Z',
     'iopub.execute_input': '2023-08-18T14:47:22.254455Z',
     'shell.execute_reply': '2023-08-18T14:47:22.271581Z',
     'iopub.status.idle': '2023-08-18T14:47:22.272577Z'}},
   'outputs': [],
   'source': "br_string = 'https://www.baseball-reference.com/leagues/majors/2023-schedule.shtml' #This is the 2022 string\n",
   'id': 'da0a9eaf'},
  {'cell_type': 'code',
   'execution_count': 3,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:22.283610',
     'end_time': '2023-08-18T14:47:24.386373',
     'duration': 2.102763,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:22.302088Z',
     'iopub.execute_input': '2023-08-18T14:47:22.303083Z',
     'shell.execute_reply': '2023-08-18T14:47:24.385378Z',
     'iopub.status.idle': '2023-08-18T14:47:24.386373Z'}},
   'outputs': [],
   'source': 'br_page = requests.get(br_string)\nbr_html = br_page.text\nbr_soup = BeautifulSoup(br_html)',
   'id': '9600b8a1'},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.397399',
     'end_time': '2023-08-18T14:47:24.417926',
     'duration': 0.020527,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.410392Z',
     'iopub.execute_input': '2023-08-18T14:47:24.411450Z',
     'shell.execute_reply': '2023-08-18T14:47:24.416524Z',
     'iopub.status.idle': '2023-08-18T14:47:24.417926Z'}},
   'outputs': [],
   'source': '# print(br_soup.prettify)',
   'id': 'a0ee26bc'},
  {'cell_type': 'code',
   'execution_count': 5,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.430324',
     'end_time': '2023-08-18T14:47:24.463867',
     'duration': 0.033543,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.443897Z',
     'iopub.execute_input': '2023-08-18T14:47:24.444882Z',
     'iopub.status.idle': '2023-08-18T14:47:24.462905Z',
     'shell.execute_reply': '2023-08-18T14:47:24.463867Z'}},
   'outputs': [],
   'source': '# br_soup',
   'id': 'dc9dd910'},
  {'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.475111',
     'end_time': '2023-08-18T14:47:24.486424',
     'duration': 0.011313,
     'status': 'completed'}},
   'source': '# Dates\nThe dates are all in h3 tags.',
   'id': '630f403c'},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.498982',
     'end_time': '2023-08-18T14:47:24.540749',
     'duration': 0.041767,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.522007Z',
     'iopub.execute_input': '2023-08-18T14:47:24.530275Z',
     'shell.execute_reply': '2023-08-18T14:47:24.539743Z',
     'iopub.status.idle': '2023-08-18T14:47:24.540749Z'}},
   'outputs': [],
   'source': "game_dates = br_soup.find_all('h3')",
   'id': 'ac283096'},
  {'cell_type': 'code',
   'execution_count': 7,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.552969',
     'end_time': '2023-08-18T14:47:24.588369',
     'duration': 0.0354,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.569484Z',
     'iopub.execute_input': '2023-08-18T14:47:24.570457Z',
     'iopub.status.idle': '2023-08-18T14:47:24.586208Z',
     'shell.execute_reply': '2023-08-18T14:47:24.587206Z'}},
   'outputs': [],
   'source': 'opening_day = datetime(2023, 3, 30)',
   'id': '5f683cee'},
  {'cell_type': 'code',
   'execution_count': 8,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.601763',
     'end_time': '2023-08-18T14:47:24.633709',
     'duration': 0.031946,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.620038Z',
     'iopub.execute_input': '2023-08-18T14:47:24.621014Z',
     'shell.execute_reply': '2023-08-18T14:47:24.632711Z',
     'iopub.status.idle': '2023-08-18T14:47:24.633709Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': 'datetime.datetime(2023, 3, 30, 0, 0)'},
     'execution_count': 8}],
   'source': 'opening_day',
   'id': '0601ba84'},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.648052',
     'end_time': '2023-08-18T14:47:24.681455',
     'duration': 0.033403,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.663958Z',
     'iopub.execute_input': '2023-08-18T14:47:24.664953Z',
     'shell.execute_reply': '2023-08-18T14:47:24.680394Z',
     'iopub.status.idle': '2023-08-18T14:47:24.681455Z'}},
   'outputs': [],
   'source': 'today = datetime.today()',
   'id': 'c2c7ccdd'},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.693637',
     'end_time': '2023-08-18T14:47:24.728460',
     'duration': 0.034823,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.710878Z',
     'iopub.execute_input': '2023-08-18T14:47:24.711872Z',
     'shell.execute_reply': '2023-08-18T14:47:24.726427Z',
     'iopub.status.idle': '2023-08-18T14:47:24.727464Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': 'datetime.datetime(2023, 8, 18, 10, 47, 24, 662015)'},
     'execution_count': 10}],
   'source': 'today',
   'id': '209fcb6a'},
  {'cell_type': 'code',
   'execution_count': 11,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.742370',
     'end_time': '2023-08-18T14:47:24.771717',
     'duration': 0.029347,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.759371Z',
     'iopub.execute_input': '2023-08-18T14:47:24.760367Z',
     'shell.execute_reply': '2023-08-18T14:47:24.770715Z',
     'iopub.status.idle': '2023-08-18T14:47:24.771717Z'}},
   'outputs': [],
   'source': 'slice_var = ((today - opening_day).days) - 4',
   'id': '1b81c996'},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.781422',
     'end_time': '2023-08-18T14:47:24.803558',
     'duration': 0.022136,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.799569Z',
     'iopub.execute_input': '2023-08-18T14:47:24.801575Z',
     'shell.execute_reply': '2023-08-18T14:47:24.802561Z',
     'iopub.status.idle': '2023-08-18T14:47:24.803558Z'}},
   'outputs': [],
   'source': 'game_dates = game_dates[:slice_var]',
   'id': '97a512b1'},
  {'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.815021',
     'end_time': '2023-08-18T14:47:24.828052',
     'duration': 0.013031,
     'status': 'completed'}},
   'source': "# A modestly-sized for loop\nThe names of the teams are in a tags that follow the h3 tags. These a tags are within p tags, and each team's score is in the p tag. Beautiful Soup's next_sibling method was the magic bullet here.",
   'id': 'ce495dc8'},
  {'cell_type': 'code',
   'execution_count': 13,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.843998',
     'end_time': '2023-08-18T14:47:24.945437',
     'duration': 0.101439,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.936142Z',
     'iopub.execute_input': '2023-08-18T14:47:24.937165Z',
     'shell.execute_reply': '2023-08-18T14:47:24.944426Z',
     'iopub.status.idle': '2023-08-18T14:47:24.944426Z'}},
   'outputs': [],
   'source': 'table = []\nfor h3 in game_dates:\n    date = h3.get_text() \n    h3_sibs = list(h3.next_siblings)\n    h3_sibs = [string for string in h3_sibs if string != \'\\n\' ] #filtering out the siblings that only include \'\\n\'\n    #We slice out the last list item because the last sib is just all the scores and standings from that date.\n    #We can engineer those features ourselves\n    for game in h3_sibs[:-1]: \n        new_row = []\n        teams = game.find_all(\'a\')\n        away_team = (teams[0].text)\n        #A lot of chained code here. \n        #A list comprehension to extract the numbers from the string, then joining that list into a string.\n        away_score = \'\'.join([num for num in teams[0].next_sibling if num.isdigit()])\n        home_team = teams[1].text\n        home_score = \'\'.join([num for num in teams[1].next_sibling if num.isdigit()])\n        date_obj = datetime.strptime(date, "%A, %B %d, %Y").date()\n        formatted_date = date_obj.strftime("%Y-%m-%d")\n        new_row = [away_team, away_score, home_team, home_score, formatted_date]\n        table.append(new_row)\n    \n        ',
   'id': '10740670'},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:24.958001',
     'end_time': '2023-08-18T14:47:24.989625',
     'duration': 0.031624,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:24.973961Z',
     'iopub.execute_input': '2023-08-18T14:47:24.974995Z',
     'shell.execute_reply': '2023-08-18T14:47:24.989625Z',
     'iopub.status.idle': '2023-08-18T14:47:24.989625Z'}},
   'outputs': [],
   'source': "scores_2023 = pd.DataFrame(table, columns = ['Away_Team', 'Away_Score', 'Home_Team', 'Home_Score', 'Date'])",
   'id': 'a5d030eb'},
  {'cell_type': 'code',
   'execution_count': 15,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:25.000957',
     'end_time': '2023-08-18T14:47:25.037264',
     'duration': 0.036307,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-18T14:47:25.019273Z',
     'iopub.execute_input': '2023-08-18T14:47:25.019273Z',
     'shell.execute_reply': '2023-08-18T14:47:25.036199Z',
     'iopub.status.idle': '2023-08-18T14:47:25.037264Z'}},
   'outputs': [],
   'source': "#Store in csv\nfilepath = r'C:\\Users\\Owner\\Sports Betting\\MLB_Game_Outcome\\2023_Game_Scores.csv'\nscores_2023.to_csv(filepath)",
   'id': 'd6c674fa'},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-18T14:47:25.050985',
     'end_time': '2023-08-18T14:47:25.061340',
     'duration': 0.010355,
     'status': 'completed'}},
   'outputs': [],
   'source': '',
   'id': '36766dec'}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'name': 'python',
   'version': '3.8.5',
   'mimetype': 'text/x-python',
   'codemirror_mode': {'name': 'ipython', 'version': 3},
   'pygments_lexer': 'ipython3',
   'nbconvert_exporter': 'python',
   'file_extension': '.py'},
  'orig_nbformat_minor': 4,
  'papermill': {'default_parameters': {},
   'parameters': {},
   'environment_variables': {},
   'version': '2.4.0',
   'input_path': 'Game_Scores.ipynb',
   'output_path': 'stored_scores.ipynb',
   'start_time': '2023-08-18T14:47:20.080829',
   'end_time': '2023-08-18T14:47:26.279504',
   'duration': 6.198675,
   'exception': None}},
 'nbformat': 4,
 'nbformat_minor': 5}

In [22]:
scores_df = pd.read_csv('2023_Game_Scores.csv')

In [23]:
scores_df = clean_unnamed(scores_df)

In [24]:
scores_df.head()

            Away_Team  Away_Score           Home_Team  Home_Score        Date
0   Baltimore Orioles          10      Boston Red Sox           9  2023-03-30
1   Milwaukee Brewers           0        Chicago Cubs           4  2023-03-30
2  Pittsburgh Pirates           5     Cincinnati Reds           4  2023-03-30
3   Chicago White Sox           3      Houston Astros           2  2023-03-30
4     Minnesota Twins           2  Kansas City Royals           0  2023-03-30

In [25]:
scores_df.tail()

,Away_Team,Away_Score,Home_Team,Home_Score,Date
1816,Seattle Mariners,6,Kansas City Royals,4,2023-08-17
1817,Milwaukee Brewers,0,Los Angeles Dodgers,1,2023-08-17
1818,Arizona D'Backs,3,San Diego Padres,1,2023-08-17
1819,New York Mets,4,St. Louis Cardinals,2,2023-08-17
1820,Boston Red Sox,7,Washington Nationals,10,2023-08-17

In [26]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Away_Team   1821 non-null   object
 1   Away_Score  1821 non-null   int64
 2   Home_Team   1821 non-null   object
 3   Home_Score  1821 non-null   int64
 4   Date        1821 non-null   object
dtypes: int64(2), object(3)
memory usage: 71.3+ KB

In [27]:
scores_df['Date'] = pd.to_datetime(scores_df['Date'])
yesterday_df['Date'] = pd.to_datetime(yesterday_df['Date'])

Column indicating if home or road team won game

In [28]:
scores_df['Home_Win'] = np.where(scores_df['Home_Score'] > scores_df['Away_Score'], 1, 0)
scores_df['Away_Win'] = np.where(scores_df['Away_Score'] > scores_df['Home_Score'], 1, 0)

In [29]:
scores_df.head()

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
0,Baltimore Orioles,10,Boston Red Sox,9,2023-03-30,0,1
1,Milwaukee Brewers,0,Chicago Cubs,4,2023-03-30,1,0
2,Pittsburgh Pirates,5,Cincinnati Reds,4,2023-03-30,0,1
3,Chicago White Sox,3,Houston Astros,2,2023-03-30,0,1
4,Minnesota Twins,2,Kansas City Royals,0,2023-03-30,0,1

In [30]:
scores_df.tail()

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
1816,Seattle Mariners,6,Kansas City Royals,4,2023-08-17,0,1
1817,Milwaukee Brewers,0,Los Angeles Dodgers,1,2023-08-17,1,0
1818,Arizona D'Backs,3,San Diego Padres,1,2023-08-17,0,1
1819,New York Mets,4,St. Louis Cardinals,2,2023-08-17,0,1
1820,Boston Red Sox,7,Washington Nationals,10,2023-08-17,1,0

In [31]:
teams_list = scores_df['Away_Team'].unique()

In [32]:
teams_list = [
    'Arizona Diamondbacks',
    "Arizona D'Backs",
    'Atlanta Braves',
    'Baltimore Orioles',
    'Boston Red Sox',
    'Chicago White Sox',
    'Chicago Cubs',
    'Cincinnati Reds',
    'Cleveland Guardians',
    'Colorado Rockies',
    'Detroit Tigers',
    'Houston Astros',
    'Kansas City Royals',
    'Los Angeles Angels',
    'Los Angeles Dodgers',
    'Miami Marlins',
    'Milwaukee Brewers',
    'Minnesota Twins',
    'New York Yankees',
    'New York Mets',
    'Oakland Athletics',
    'Philadelphia Phillies',
    'Pittsburgh Pirates',
    'San Diego Padres',
    'San Francisco Giants',
    'Seattle Mariners',
    'St. Louis Cardinals',
    'Tampa Bay Rays',
    'Texas Rangers',
    'Toronto Blue Jays',
    'Washington Nationals'
]

# 3-letter team codes
This is where we convert the full team name to a 3-letter team code. Diamondbacks is sometimes referred to as 'D'Backs' so we need two entries for that team.

In [33]:
team_dict = {key: value for key, value in zip(teams_list, team_codes)}

In [34]:
team_dict

{'Arizona Diamondbacks': 'ARI',
 "Arizona D'Backs": 'ARI',
 'Atlanta Braves': 'ATL',
 'Baltimore Orioles': 'BAL',
 'Boston Red Sox': 'BOS',
 'Chicago White Sox': 'CHW',
 'Chicago Cubs': 'CHC',
 'Cincinnati Reds': 'CIN',
 'Cleveland Guardians': 'CLE',
 'Colorado Rockies': 'COL',
 'Detroit Tigers': 'DET',
 'Houston Astros': 'HOU',
 'Kansas City Royals': 'KCR',
 'Los Angeles Angels': 'LAA',
 'Los Angeles Dodgers': 'LAD',
 'Miami Marlins': 'MIA',
 'Milwaukee Brewers': 'MIL',
 'Minnesota Twins': 'MIN',
 'New York Yankees': 'NYY',
 'New York Mets': 'NYM',
 'Oakland Athletics': 'OAK',
 'Philadelphia Phillies': 'PHI',
 'Pittsburgh Pirates': 'PIT',
 'San Diego Padres': 'SDP',
 'San Francisco Giants': 'SFG',
 'Seattle Mariners': 'SEA',
 'St. Louis Cardinals': 'STL',
 'Tampa Bay Rays': 'TBR',
 'Texas Rangers': 'TEX',
 'Toronto Blue Jays': 'TOR',
 'Washington Nationals': 'WSN'}

In [35]:
scores_df['Home_Team'] = scores_df['Home_Team'].replace(team_dict)

In [36]:
scores_df['Away_Team'] = scores_df['Away_Team'].replace(team_dict)

In [37]:
filepath = r'C:\Users\Owner\Sports Betting\MLB_Game_Outcome\2023_Game_Scores.csv'
scores_df.to_csv(filepath)

# All game scores stored
We've just stored all of the season's game scores, including yesterday's, in a CSV. We need that to derive the win variables for our model data. Now we're going to slice yesterday's scores so that we can fill in the results and track our model's accuracy.

In [38]:
scores_yesterday = scores_df[scores_df['Date'] == yesterday_str]

In [39]:
scores_yesterday

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
1816,SEA,6,KCR,4,2023-08-17,0,1
1817,MIL,0,LAD,1,2023-08-17,1,0
1818,ARI,3,SDP,1,2023-08-17,0,1
1819,NYM,4,STL,2,2023-08-17,0,1
1820,BOS,7,WSN,10,2023-08-17,1,0

# What about doubleheaders?
As we'll see in the Live_Data_Wrangling notebook, we scrape RotoGrinders to identify our starting pitchers each day. Most of the time when we have doubleheaders, we'll only get data on one of the games from RotoGrinders, as that's a daily fantasy sports site and most of the time only one game can be played in DFS when there's a doubleheader. So we'll include the names of the starting pitchers in the index, and when there's a doubleheader we'll just have to look up which of the games our model predicted based on the starting pitchers.<br>

This code block checks for doubleheaders in yesterday's scores. If there are doubleheaders, we'll get a prompt asking us which row(s) to drop.

In [40]:
if scores_yesterday['Away_Team'].value_counts()[0] > 1:
    print("There was at least one doubleheader yesterday.")
    num_dh = int(input("How many doubleheaders were played yesterday?"))
    scores_yesterday_copy = scores_yesterday.copy()
    for i in range(num_dh):
        idx_to_drop = int(input("Which index should be dropped from the scores_yesterday dataframe?"))
        scores_yesterday_copy.drop(idx_to_drop, inplace = True)
        scores_yesterday_copy.reset_index(drop = True, inplace = True)
    scores_yesterday = scores_yesterday_copy

In [41]:
scores_yesterday = scores_yesterday[['Away_Team', 'Home_Team', 'Date', 'Home_Win']]

In [42]:
yesterday_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Away_Team  6 non-null      object
 1   Home_Team  6 non-null      object
 2   A_Starter  6 non-null      object
 3   H_Starter  6 non-null      object
 4   Date       6 non-null      datetime64[ns]
 5   Pred       6 non-null      int64
 6   Away_Prob  6 non-null      float64
 7   Home_Prob  6 non-null      float64
 8   Away_ML    6 non-null      float64
 9   Home_ML    6 non-null      float64
 10  A_Amt_Bet  6 non-null      int64
 11  H_Amt_Bet  6 non-null      int64
 12  Result     0 non-null      float64
 13  Money_Won  6 non-null      int64
 14  Profit     6 non-null      int64
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 848.0+ bytes

In [43]:
yesterday_df = pd.merge(yesterday_df, scores_yesterday, on = ['Away_Team', 'Home_Team', 'Date'], how = 'left')

In [44]:
yesterday_df['Result'] = np.where(yesterday_df['Pred'] == yesterday_df['Home_Win'], 1, 0)

In [45]:
yesterday_df = yesterday_df.rename(columns = {'Result' : 'Model_Acc'})

In [46]:
yesterday_df

,Away_Team,Home_Team,A_Starter,H_Starter,Date,Pred,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Model_Acc,Money_Won,Profit,Home_Win
0,SEA,KCR,George Kirby,Angel Zerpa,2023-08-17,0,0.648682,0.351318,-185.0,185.0,0,0,1,0,0,0.0
1,BOS,WSN,Chris Sale,Patrick Corbin,2023-08-17,0,0.510778,0.489222,-104.0,104.0,0,0,0,0,0,1.0
2,DET,CLE,Tarik Skubal,Xzavion Curry,2023-08-17,1,0.475340,0.524660,110.0,-110.0,0,0,0,0,0,NaN
3,NYM,STL,Jose Quintana,Adam Wainwright,2023-08-17,1,0.437087,0.562913,129.0,-129.0,0,10,0,0,-10,0.0
4,ARI,SDP,Zac Gallen,Rich Hill,2023-08-17,1,0.473180,0.526820,111.0,-111.0,0,0,0,0,0,0.0
5,MIL,LAD,Corbin Burnes,Lance Lynn,2023-08-17,1,0.433129,0.566871,131.0,-131.0,0,0,1,0,0,1.0

# Re-ordering columns
Now that yesterday_df is filled, we'll re-order the columns, read in the CSV with all the previous model and betting results, concatenate and then re-store in the CSV.

In [47]:
new_order = ['Date', 'Away_Team', 'Home_Team', 'Away_Prob', 'Home_Prob', 'Away_ML', 'Home_ML', 'A_Amt_Bet', 'H_Amt_Bet', 'Money_Won', 'Profit', 'Pred', 'Home_Win', 'Model_Acc']

In [48]:
yesterday_df = yesterday_df[new_order]

In [49]:
yesterday_df

,Date,Away_Team,Home_Team,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Money_Won,Profit,Pred,Home_Win,Model_Acc
0,2023-08-17,SEA,KCR,0.648682,0.351318,-185.0,185.0,0,0,0,0,0,0.0,1
1,2023-08-17,BOS,WSN,0.510778,0.489222,-104.0,104.0,0,0,0,0,0,1.0,0
2,2023-08-17,DET,CLE,0.475340,0.524660,110.0,-110.0,0,0,0,0,1,NaN,0
3,2023-08-17,NYM,STL,0.437087,0.562913,129.0,-129.0,0,10,0,-10,1,0.0,0
4,2023-08-17,ARI,SDP,0.473180,0.526820,111.0,-111.0,0,0,0,0,1,0.0,0
5,2023-08-17,MIL,LAD,0.433129,0.566871,131.0,-131.0,0,0,0,0,1,1.0,1

In [50]:
scoresheet = pd.read_csv('Predictions_Results.csv')

In [51]:
scoresheet = clean_unnamed(scoresheet)

In [52]:
scoresheet = pd.concat([scoresheet, yesterday_df])

In [59]:
scoresheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178 entries, 0 to 5
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       178 non-null    object
 1   Away_Team  178 non-null    object
 2   Home_Team  178 non-null    object
 3   Away_Prob  178 non-null    float64
 4   Home_Prob  178 non-null    float64
 5   Away_ML    178 non-null    float64
 6   Home_ML    178 non-null    float64
 7   A_Amt_Bet  178 non-null    float64
 8   H_Amt_Bet  178 non-null    float64
 9   Money_Won  166 non-null    float64
 10  Profit     166 non-null    float64
 11  Pred       178 non-null    int64
 12  Home_Win   176 non-null    float64
 13  Model_Acc  178 non-null    int64
dtypes: float64(9), int64(2), object(3)
memory usage: 20.9+ KB

In [63]:
if scoresheet['Home_Win'].isna().any():
    scoresheet.dropna(subset = ['Home_Win'], inplace = True)

In [64]:
filepath = r'C:\Users\Owner\Sports Betting\MLB_Game_Outcome\Predictions_Results.csv'
scoresheet.to_csv(filepath)

In [65]:
total_profit = np.round(scoresheet['Profit'].sum(), 2)
games_pred = len(scoresheet)
acc = scoresheet['Model_Acc'].sum()
pct_profit = np.round(total_profit/(scoresheet['A_Amt_Bet'].sum() + scoresheet['H_Amt_Bet'].sum()), 2)
live_accuracy = np.round(acc/games_pred, 3)

In [66]:
print(f"You have bet a total of ${scoresheet['A_Amt_Bet'].sum() + scoresheet['H_Amt_Bet'].sum()} using this model")
print(f"You have won a total of ${scoresheet['Money_Won'].sum()} using this model")
print(f"Your total profit is ${total_profit}")
print(f"Your profit percentage is {np.round(pct_profit*100, 2)} percent")
print(f"Your model has made {games_pred} predictions on live games.")
print(f"Your model has made {acc} correct predictions on live games.")
print(f"The model's accuracy on live games is {np.round(live_accuracy*100, 2)} percent")

You have bet a total of $188.01 using this model
You have won a total of $163.24 using this model
Your total profit is $-24.77
Your profit percentage is -13.0 percent
Your model has made 176 predictions on live games.
Your model has made 100 correct predictions on live games.
The model's accuracy on live games is 56.8 percent

Just to try to keep the folder nice and tidy, we don't need to keep each individual day's Prediction_Results csv.

In [67]:
import os

csv_file_path = 'Predictions_Results_' + yesterday_str + '.csv'

try:
    os.remove(csv_file_path)
    print(f"CSV file '{csv_file_path}' deleted successfully.")
except FileNotFoundError:
    print(f"CSV file '{csv_file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file 'Predictions_Results_2023-08-17.csv' not found.