# Our betting day begins here
**This is the first notebook that runs when we use our model**<br>

Before we bet on games, we need to wrap up our previous day of betting. This notebook concatenates the daily model results and shows how the model is performing in live games.<br>

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import datetime as dt
from datetime import timedelta
import time
import papermill as pm

In [2]:
def clean_unnamed(df):
    """
    Deletes 'Unnamed: 0' column that we somehow get after reading in our CSVs
    """
    if 'Unnamed: 0' in df.columns:
        df = df.drop(columns = ['Unnamed: 0'])
        return df
    print("Dataframe does not have 'Unnamed: 0' column.")

In [3]:
today = dt.date.today()

In [4]:
today_str = str(today)

# 3-letter team codes
The three-letter codes for each team

In [5]:
team_codes = [
    'ARI', 'ARI', 'ATL', 'BAL', 'BOS', 'CHW', 'CHC', 'CIN', 'CLE', 'COL', 'DET', 'HOU',
    'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYY', 'NYM', 'OAK', 'PHI', 'PIT',
    'SDP', 'SFG', 'SEA', 'STL', 'TBR', 'TEX', 'TOR', 'WSN'
]

# record_bets function
This function runs if we have bets to record.<br>

Our answers to the prompts will update yesterday_df.<br>

**When entering the three-letter code for the year, please make sure it matches the code in the team_codes list in the previous cell. Otherwise, you'll get an error and will need to go back to the cell where we read in the yesterday_df.**

In [6]:
def record_bets(num, yesterday_df):
    if num_games > 0:
        for i in range(num_games):
            what_team = input("Enter the team you bet on. ").upper()
            amount = input("Enter the amount you bet. ")
            if what_team in yesterday_df['Away'].values:
                yesterday_df.loc[yesterday_df['Away'] == what_team, 'A_Amt_Bet'] = float(amount)
                won = float(input("How much did you win, including the stake? "))
                yesterday_df.loc[yesterday_df['Away'] == what_team, 'Money_Won'] = won
            else:
                yesterday_df.loc[yesterday_df['Home'] == what_team, 'H_Amt_Bet'] = float(amount)
                won = float(input("How much did you win, including the stake? "))
                yesterday_df.loc[yesterday_df['Home'] == what_team, 'Money_Won'] = won
            correct = input("Is the information you entered correct?").upper()
            if correct != 'Y':
                yesterday_df = pd.read_csv('Predictions_Results_' + yesterday_str + '.csv')
                record_bets(num)

In [7]:
def create_yesterday_df(days):
    """
    Creates dataframe of predictions from the most recent day that we ran our model.
    """
    yesterday = dt.date.today() - timedelta(days = days)
    yesterday_str = str(yesterday)
    yesterday_df = pd.read_csv('Predictions_Results_' + yesterday_str + '.csv').rename(columns = {'Away' : 'Away_Team', 'Home': 'Home_Team'})
    return yesterday_df

Since we're not betting every single day, we input the number of days it's been since our last bet so we can derive the date to use to retrieve the CSV that needs to be filled in. So the "yesterday" variable might not necessarily be the previous day.

In [8]:
bets_to_record = input("Do you have bets to record? ").upper()
if bets_to_record == 'Y':
    since_last_bet = int(input("How many days since your last bet? "))
    num_games = int(input("How many games did you bet on during your most recent betting day? "))
    yesterday_df = create_yeterday_df(since_last_bet)
    record_bets(num_games, yesterday_df)

Do you have bets to record? N

# yesterday_df
In these next cells, we'll show yesterday_df if it exists, and then update it with the betting information we just input. If we didn't bet and yesterday_df was not created, these cells will handle the error.

In [9]:
try:
    yesterday_df
    result = undefined_variable + 10
    print(result)
except NameError:
    print("The variable is not defined")

The variable is not defined

In [10]:
try:
    yesterday_df['Profit'] = yesterday_df['Money_Won'] - (yesterday_df['A_Amt_Bet'] + yesterday_df['H_Amt_Bet'])
    result = undefined_variable + 10
    print(result)
except NameError:
    print("The variable is not defined")

The variable is not defined

In [11]:
try:
    yesterday_df
    result = undefined_variable + 10
    print(result)
except NameError:
    print("The variable is not defined")

The variable is not defined

# Creating CSV of game scores for season
Using the Papermill library, we'll run the notebook where we scrape all the MLB scores this season from <a href = 'https://www.baseball-reference.com/leagues/majors/2023-schedule.shtml'>Baseball Reference</a>, then use a temporary notebook, 'stored_scores' or output_notebook, to store the code, then we run Papermill's execute_notebook function.<br>

Then we can read in the 2023_Game_Scores csv and use it to merge with the Predictions_Results dataframe so we can evaluate how our model did with yesterday's games (or our most recent betting day). In the Live_Data_Wrangling notebook, this data will be used to create and derive the various win variables for our model.

In [12]:
input_notebook = 'Game_Scores.ipynb'

In [13]:
output_notebook = 'stored_scores.ipynb'

In [14]:
pm.execute_notebook(input_notebook, output_notebook)

HBox(children=(HTML(value='Executing'), FloatProgress(value=0.0, max=20.0), HTML(value='')))

{'cells': [{'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:26.876381',
     'end_time': '2023-08-24T15:58:26.884669',
     'duration': 0.008288,
     'status': 'completed'}},
   'source': "# Scraping 2021 and 2022 game scores\nWe only need to scrape two <a href='https://www.baseball-reference.com/leagues/majors/2022-schedule.shtml'>Baseball Reference</a> pages to wrangle scores from the 2021 and 2022 seasons.\n\nThis took a little figuring out because unlike most of the pages we scraped, this didn't come from a table. Instead, each score is listed under a date heading.\n",
   'id': 'bb8100f6'},
  {'cell_type': 'code',
   'execution_count': 1,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:26.896568',
     'end_time': '2023-08-24T15:58:27.544484',
     'duration': 0.647916,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:26.921728Z',
     'iopub.execute_input': '2023-08-24T15:58:26.921728Z',
     'iopub.status.idle': '2023-08-24T15:58:27.544484Z',
     'shell.execute_reply': '2023-08-24T15:58:27.544484Z'}},
   'outputs': [],
   'source': 'import pandas as pd\nimport numpy as np\nfrom bs4 import BeautifulSoup\nimport requests\nimport unidecode\nfrom datetime import datetime\nfrom datetime import timedelta',
   'id': 'c01ebbb6'},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:27.562034',
     'end_time': '2023-08-24T15:58:27.574581',
     'duration': 0.012547,
     'status': 'completed'}},
   'outputs': [],
   'source': '',
   'id': '4081fb1d'},
  {'cell_type': 'code',
   'execution_count': 2,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:27.590798',
     'end_time': '2023-08-24T15:58:27.624059',
     'duration': 0.033261,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:27.607624Z',
     'iopub.execute_input': '2023-08-24T15:58:27.607624Z',
     'iopub.status.idle': '2023-08-24T15:58:27.624059Z',
     'shell.execute_reply': '2023-08-24T15:58:27.624059Z'}},
   'outputs': [],
   'source': "br_string = 'https://www.baseball-reference.com/leagues/majors/2023-schedule.shtml' #This is the 2022 string\n",
   'id': '9f9ca039'},
  {'cell_type': 'code',
   'execution_count': 3,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:27.634276',
     'end_time': '2023-08-24T15:58:28.321290',
     'duration': 0.687014,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:27.654934Z',
     'iopub.execute_input': '2023-08-24T15:58:27.654934Z',
     'iopub.status.idle': '2023-08-24T15:58:28.321290Z',
     'shell.execute_reply': '2023-08-24T15:58:28.321290Z'}},
   'outputs': [],
   'source': 'br_page = requests.get(br_string)\nbr_html = br_page.text\nbr_soup = BeautifulSoup(br_html)',
   'id': '414fda1b'},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.332870',
     'end_time': '2023-08-24T15:58:28.367880',
     'duration': 0.03501,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.351628Z',
     'iopub.execute_input': '2023-08-24T15:58:28.351628Z',
     'iopub.status.idle': '2023-08-24T15:58:28.367880Z',
     'shell.execute_reply': '2023-08-24T15:58:28.367880Z'}},
   'outputs': [],
   'source': '# print(br_soup.prettify)',
   'id': 'be2c64c0'},
  {'cell_type': 'code',
   'execution_count': 5,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.382577',
     'end_time': '2023-08-24T15:58:28.416501',
     'duration': 0.033924,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.400537Z',
     'iopub.execute_input': '2023-08-24T15:58:28.400537Z',
     'iopub.status.idle': '2023-08-24T15:58:28.416501Z',
     'shell.execute_reply': '2023-08-24T15:58:28.416501Z'}},
   'outputs': [],
   'source': '# br_soup',
   'id': 'b4c65aa2'},
  {'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.432484',
     'end_time': '2023-08-24T15:58:28.440052',
     'duration': 0.007568,
     'status': 'completed'}},
   'source': '# Dates\nThe dates are all in h3 tags.',
   'id': '3ba6ac6b'},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.452158',
     'end_time': '2023-08-24T15:58:28.502516',
     'duration': 0.050358,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.486290Z',
     'iopub.execute_input': '2023-08-24T15:58:28.486290Z',
     'iopub.status.idle': '2023-08-24T15:58:28.502516Z',
     'shell.execute_reply': '2023-08-24T15:58:28.502516Z'}},
   'outputs': [],
   'source': "game_dates = br_soup.find_all('h3')",
   'id': 'cbae3be6'},
  {'cell_type': 'code',
   'execution_count': 7,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.510631',
     'end_time': '2023-08-24T15:58:28.534931',
     'duration': 0.0243,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.526616Z',
     'iopub.execute_input': '2023-08-24T15:58:28.534931Z',
     'iopub.status.idle': '2023-08-24T15:58:28.534931Z',
     'shell.execute_reply': '2023-08-24T15:58:28.534931Z'}},
   'outputs': [],
   'source': 'opening_day = datetime(2023, 3, 30)',
   'id': '82a3ac3e'},
  {'cell_type': 'code',
   'execution_count': 8,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.543054',
     'end_time': '2023-08-24T15:58:28.582409',
     'duration': 0.039355,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.566405Z',
     'iopub.execute_input': '2023-08-24T15:58:28.566405Z',
     'iopub.status.idle': '2023-08-24T15:58:28.582409Z',
     'shell.execute_reply': '2023-08-24T15:58:28.582409Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': 'datetime.datetime(2023, 3, 30, 0, 0)'},
     'execution_count': 8}],
   'source': 'opening_day',
   'id': 'fac6f531'},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.593541',
     'end_time': '2023-08-24T15:58:28.631421',
     'duration': 0.03788,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.615422Z',
     'iopub.execute_input': '2023-08-24T15:58:28.615422Z',
     'iopub.status.idle': '2023-08-24T15:58:28.631421Z',
     'shell.execute_reply': '2023-08-24T15:58:28.631421Z'}},
   'outputs': [],
   'source': 'today = datetime.today()',
   'id': '401512bf'},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.644079',
     'end_time': '2023-08-24T15:58:28.674221',
     'duration': 0.030142,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.665561Z',
     'iopub.execute_input': '2023-08-24T15:58:28.665561Z',
     'iopub.status.idle': '2023-08-24T15:58:28.674221Z',
     'shell.execute_reply': '2023-08-24T15:58:28.674221Z'}},
   'outputs': [{'output_type': 'execute_result',
     'metadata': {},
     'data': {'text/plain': 'datetime.datetime(2023, 8, 24, 11, 58, 28, 615422)'},
     'execution_count': 10}],
   'source': 'today',
   'id': '6f87ad77'},
  {'cell_type': 'code',
   'execution_count': 11,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.685483',
     'end_time': '2023-08-24T15:58:28.711026',
     'duration': 0.025543,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.701481Z',
     'iopub.execute_input': '2023-08-24T15:58:28.701481Z',
     'iopub.status.idle': '2023-08-24T15:58:28.711026Z',
     'shell.execute_reply': '2023-08-24T15:58:28.711026Z'}},
   'outputs': [],
   'source': 'slice_var = ((today - opening_day).days) - 4',
   'id': 'bf942a35'},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.721770',
     'end_time': '2023-08-24T15:58:28.748517',
     'duration': 0.026747,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.740235Z',
     'iopub.execute_input': '2023-08-24T15:58:28.740235Z',
     'iopub.status.idle': '2023-08-24T15:58:28.748517Z',
     'shell.execute_reply': '2023-08-24T15:58:28.748517Z'}},
   'outputs': [],
   'source': 'game_dates = game_dates[:slice_var]',
   'id': '8094eaa9'},
  {'cell_type': 'markdown',
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.760347',
     'end_time': '2023-08-24T15:58:28.776446',
     'duration': 0.016099,
     'status': 'completed'}},
   'source': "# A modestly-sized for loop\nThe names of the teams are in a tags that follow the h3 tags. These a tags are within p tags, and each team's score is in the p tag. Beautiful Soup's next_sibling method was the magic bullet here.",
   'id': '211e01c0'},
  {'cell_type': 'code',
   'execution_count': 13,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.787848',
     'end_time': '2023-08-24T15:58:28.883509',
     'duration': 0.095661,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.808946Z',
     'iopub.execute_input': '2023-08-24T15:58:28.875453Z',
     'iopub.status.idle': '2023-08-24T15:58:28.883509Z',
     'shell.execute_reply': '2023-08-24T15:58:28.883509Z'}},
   'outputs': [],
   'source': 'table = []\nfor h3 in game_dates:\n    date = h3.get_text() \n    h3_sibs = list(h3.next_siblings)\n    h3_sibs = [string for string in h3_sibs if string != \'\\n\' ] #filtering out the siblings that only include \'\\n\'\n    #We slice out the last list item because the last sib is just all the scores and standings from that date.\n    #We can engineer those features ourselves\n    for game in h3_sibs[:-1]: \n        new_row = []\n        teams = game.find_all(\'a\')\n        away_team = (teams[0].text)\n        #A lot of chained code here. \n        #A list comprehension to extract the numbers from the string, then joining that list into a string.\n        away_score = \'\'.join([num for num in teams[0].next_sibling if num.isdigit()])\n        home_team = teams[1].text\n        home_score = \'\'.join([num for num in teams[1].next_sibling if num.isdigit()])\n        date_obj = datetime.strptime(date, "%A, %B %d, %Y").date()\n        formatted_date = date_obj.strftime("%Y-%m-%d")\n        new_row = [away_team, away_score, home_team, home_score, formatted_date]\n        table.append(new_row)\n    \n        ',
   'id': '9a20c1f3'},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.896223',
     'end_time': '2023-08-24T15:58:28.935172',
     'duration': 0.038949,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.919288Z',
     'iopub.execute_input': '2023-08-24T15:58:28.923738Z',
     'iopub.status.idle': '2023-08-24T15:58:28.935172Z',
     'shell.execute_reply': '2023-08-24T15:58:28.935172Z'}},
   'outputs': [],
   'source': "scores_2023 = pd.DataFrame(table, columns = ['Away_Team', 'Away_Score', 'Home_Team', 'Home_Score', 'Date'])",
   'id': '53a7427b'},
  {'cell_type': 'code',
   'execution_count': 15,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:28.950082',
     'end_time': '2023-08-24T15:58:28.990320',
     'duration': 0.040238,
     'status': 'completed'},
    'execution': {'iopub.status.busy': '2023-08-24T15:58:28.970332Z',
     'iopub.execute_input': '2023-08-24T15:58:28.970332Z',
     'iopub.status.idle': '2023-08-24T15:58:28.990320Z',
     'shell.execute_reply': '2023-08-24T15:58:28.990320Z'}},
   'outputs': [],
   'source': "#Store in csv\nfilepath = r'C:\\Users\\Owner\\Sports Betting\\MLB_Game_Outcome\\2023_Game_Scores.csv'\nscores_2023.to_csv(filepath)",
   'id': '9505f0bc'},
  {'cell_type': 'code',
   'execution_count': None,
   'metadata': {'tags': [],
    'papermill': {'exception': False,
     'start_time': '2023-08-24T15:58:29.001031',
     'end_time': '2023-08-24T15:58:29.017705',
     'duration': 0.016674,
     'status': 'completed'}},
   'outputs': [],
   'source': '',
   'id': '5f202c8c'}],
 'metadata': {'kernelspec': {'display_name': 'Python 3',
   'language': 'python',
   'name': 'python3'},
  'language_info': {'name': 'python',
   'version': '3.8.5',
   'mimetype': 'text/x-python',
   'codemirror_mode': {'name': 'ipython', 'version': 3},
   'pygments_lexer': 'ipython3',
   'nbconvert_exporter': 'python',
   'file_extension': '.py'},
  'orig_nbformat_minor': 4,
  'papermill': {'default_parameters': {},
   'parameters': {},
   'environment_variables': {},
   'version': '2.4.0',
   'input_path': 'Game_Scores.ipynb',
   'output_path': 'stored_scores.ipynb',
   'start_time': '2023-08-24T15:58:25.496668',
   'end_time': '2023-08-24T15:58:29.377894',
   'duration': 3.881226,
   'exception': None}},
 'nbformat': 4,
 'nbformat_minor': 5}

In [15]:
scores_df = pd.read_csv('2023_Game_Scores.csv')

In [16]:
scores_df = clean_unnamed(scores_df)

In [17]:
scores_df.head()

            Away_Team  Away_Score           Home_Team  Home_Score        Date
0   Baltimore Orioles          10      Boston Red Sox           9  2023-03-30
1   Milwaukee Brewers           0        Chicago Cubs           4  2023-03-30
2  Pittsburgh Pirates           5     Cincinnati Reds           4  2023-03-30
3   Chicago White Sox           3      Houston Astros           2  2023-03-30
4     Minnesota Twins           2  Kansas City Royals           0  2023-03-30

In [18]:
scores_df.tail()

,Away_Team,Away_Score,Home_Team,Home_Score,Date
1900,Kansas City Royals,4,Oakland Athletics,0,2023-08-23
1901,San Francisco Giants,8,Philadelphia Phillies,6,2023-08-23
1902,St. Louis Cardinals,6,Pittsburgh Pirates,4,2023-08-23
1903,Miami Marlins,0,San Diego Padres,4,2023-08-23
1904,Colorado Rockies,5,Tampa Bay Rays,6,2023-08-23

In [19]:
scores_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1905 entries, 0 to 1904
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Away_Team   1905 non-null   object
 1   Away_Score  1905 non-null   int64
 2   Home_Team   1905 non-null   object
 3   Home_Score  1905 non-null   int64
 4   Date        1905 non-null   object
dtypes: int64(2), object(3)
memory usage: 74.5+ KB

In [20]:
scores_df['Date'] = pd.to_datetime(scores_df['Date'])

try:
    yesterday_df['Date'] = pd.to_datetime(yesterday_df['Date'])
    result = undefined_variable + 10
    print(result)
except NameError:
    print("The variable is not defined")

The variable is not defined

Column indicating if home or road team won game

In [21]:
scores_df['Home_Win'] = np.where(scores_df['Home_Score'] > scores_df['Away_Score'], 1, 0)
scores_df['Away_Win'] = np.where(scores_df['Away_Score'] > scores_df['Home_Score'], 1, 0)

In [22]:
scores_df.head()

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
0,Baltimore Orioles,10,Boston Red Sox,9,2023-03-30,0,1
1,Milwaukee Brewers,0,Chicago Cubs,4,2023-03-30,1,0
2,Pittsburgh Pirates,5,Cincinnati Reds,4,2023-03-30,0,1
3,Chicago White Sox,3,Houston Astros,2,2023-03-30,0,1
4,Minnesota Twins,2,Kansas City Royals,0,2023-03-30,0,1

In [23]:
scores_df.tail()

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
1900,Kansas City Royals,4,Oakland Athletics,0,2023-08-23,0,1
1901,San Francisco Giants,8,Philadelphia Phillies,6,2023-08-23,0,1
1902,St. Louis Cardinals,6,Pittsburgh Pirates,4,2023-08-23,0,1
1903,Miami Marlins,0,San Diego Padres,4,2023-08-23,1,0
1904,Colorado Rockies,5,Tampa Bay Rays,6,2023-08-23,1,0

In [24]:
teams_list = scores_df['Away_Team'].unique()

In [25]:
teams_list = [
    'Arizona Diamondbacks',
    "Arizona D'Backs",
    'Atlanta Braves',
    'Baltimore Orioles',
    'Boston Red Sox',
    'Chicago White Sox',
    'Chicago Cubs',
    'Cincinnati Reds',
    'Cleveland Guardians',
    'Colorado Rockies',
    'Detroit Tigers',
    'Houston Astros',
    'Kansas City Royals',
    'Los Angeles Angels',
    'Los Angeles Dodgers',
    'Miami Marlins',
    'Milwaukee Brewers',
    'Minnesota Twins',
    'New York Yankees',
    'New York Mets',
    'Oakland Athletics',
    'Philadelphia Phillies',
    'Pittsburgh Pirates',
    'San Diego Padres',
    'San Francisco Giants',
    'Seattle Mariners',
    'St. Louis Cardinals',
    'Tampa Bay Rays',
    'Texas Rangers',
    'Toronto Blue Jays',
    'Washington Nationals'
]

# 3-letter team codes
This is where we convert the full team name to a 3-letter team code. Diamondbacks is sometimes referred to as 'D'Backs' so we need two entries for that team.

In [26]:
team_dict = {key: value for key, value in zip(teams_list, team_codes)}

In [27]:
team_dict

{'Arizona Diamondbacks': 'ARI',
 "Arizona D'Backs": 'ARI',
 'Atlanta Braves': 'ATL',
 'Baltimore Orioles': 'BAL',
 'Boston Red Sox': 'BOS',
 'Chicago White Sox': 'CHW',
 'Chicago Cubs': 'CHC',
 'Cincinnati Reds': 'CIN',
 'Cleveland Guardians': 'CLE',
 'Colorado Rockies': 'COL',
 'Detroit Tigers': 'DET',
 'Houston Astros': 'HOU',
 'Kansas City Royals': 'KCR',
 'Los Angeles Angels': 'LAA',
 'Los Angeles Dodgers': 'LAD',
 'Miami Marlins': 'MIA',
 'Milwaukee Brewers': 'MIL',
 'Minnesota Twins': 'MIN',
 'New York Yankees': 'NYY',
 'New York Mets': 'NYM',
 'Oakland Athletics': 'OAK',
 'Philadelphia Phillies': 'PHI',
 'Pittsburgh Pirates': 'PIT',
 'San Diego Padres': 'SDP',
 'San Francisco Giants': 'SFG',
 'Seattle Mariners': 'SEA',
 'St. Louis Cardinals': 'STL',
 'Tampa Bay Rays': 'TBR',
 'Texas Rangers': 'TEX',
 'Toronto Blue Jays': 'TOR',
 'Washington Nationals': 'WSN'}

In [28]:
scores_df['Home_Team'] = scores_df['Home_Team'].replace(team_dict)

In [29]:
scores_df['Away_Team'] = scores_df['Away_Team'].replace(team_dict)

In [30]:
filepath = r'C:\Users\Owner\Sports Betting\MLB_Game_Outcome\2023_Game_Scores.csv'
scores_df.to_csv(filepath)

# All game scores stored
We've just stored all of the season's game scores, including yesterday's, in a CSV. We need that to derive the win variables for our model data. Now we're going to slice yesterday's scores so that we can fill in the results and track our model's accuracy.<br>

If we didn't record bets and there's no need to update the model performance results, we created a custom exception so that the notebook stops here.

In [31]:
class NotebookStopException(Exception):
    pass

In [32]:
pred_yesterday = input("Did the model make predictions on yesterday's games? ").upper()

Did the model make predictions on yesterday's games? Y

In [36]:
if not pred_yesterday == 'Y':
    print("No predictions made yesterday. Stopping notebook.")
    raise NotebookStopException()
else:
    yesterday_df = create_yesterday_df(1)
    yesterday = dt.date.today() - timedelta(days = 1)
    yesterday_str = str(yesterday)
    yesterday_df

In [37]:
scores_yesterday = scores_df[scores_df['Date'] == yesterday_str]

In [38]:
scores_yesterday

,Away_Team,Away_Score,Home_Team,Home_Score,Date,Home_Win,Away_Win
1891,CIN,9,LAA,4,2023-08-23,0,1
1892,CIN,7,LAA,3,2023-08-23,0,1
1893,NYM,0,ATL,7,2023-08-23,1,0
1894,TOR,0,BAL,7,2023-08-23,1,0
1895,SEA,4,CHW,5,2023-08-23,1,0
1896,CHC,6,DET,4,2023-08-23,0,1
1897,BOS,7,HOU,5,2023-08-23,0,1
1898,MIN,7,MIL,8,2023-08-23,1,0
1899,WSN,1,NYY,9,2023-08-23,1,0
1900,KCR,4,OAK,0,2023-08-23,0,1
1901,SFG,8,PHI,6,2023-08-23,0,1
1902,STL,6,PIT,4,2023-08-23,0,1
1903,MIA,0,SDP,4,2023-08-23,1,0
1904,COL,5,TBR,6,2023-08-23,1,0

# What about doubleheaders?
As we'll see in the Live_Data_Wrangling notebook, we scrape RotoGrinders to identify our starting pitchers each day. Most of the time when we have doubleheaders, we'll only get data on one of the games from RotoGrinders, as that's a daily fantasy sports site and most of the time only one game can be played in DFS when there's a doubleheader. So we'll include the names of the starting pitchers in the index, and when there's a doubleheader we'll just have to look up which of the games our model predicted based on the starting pitchers.<br>

This code block checks for doubleheaders in yesterday's scores. If there are doubleheaders, we'll get a prompt asking us which row(s) to drop.

In [40]:
if scores_yesterday['Away_Team'].value_counts()[0] > 1:
    print("There was at least one doubleheader yesterday.")
    num_dh = int(input("How many doubleheaders were played yesterday?"))
    scores_yesterday_copy = scores_yesterday.copy()
    for i in range(num_dh):
        idx_to_drop = int(input("Which index should be dropped from the scores_yesterday dataframe?"))
        scores_yesterday_copy.drop(idx_to_drop, inplace = True)
        scores_yesterday_copy.reset_index(drop = True, inplace = True)
        print(scores_yesterday_copy)
    scores_yesterday = scores_yesterday_copy

There was at least one doubleheader yesterday.
How many doubleheaders were played yesterday?1
Which index should be dropped from the scores_yesterday dataframe?1892
   Away_Team  Away_Score Home_Team  Home_Score       Date  Home_Win  Away_Win
0        CIN           9       LAA           4 2023-08-23         0         1
1        NYM           0       ATL           7 2023-08-23         1         0
2        TOR           0       BAL           7 2023-08-23         1         0
3        SEA           4       CHW           5 2023-08-23         1         0
4        CHC           6       DET           4 2023-08-23         0         1
5        BOS           7       HOU           5 2023-08-23         0         1
6        MIN           7       MIL           8 2023-08-23         1         0
7        WSN           1       NYY           9 2023-08-23         1         0
8        KCR           4       OAK           0 2023-08-23         0         1
9        SFG           8       PHI           6 2023-08-23         0         1
10       STL           6       PIT           4 2023-08-23         0         1
11       MIA           0       SDP           4 2023-08-23         1         0
12       COL           5       TBR           6 2023-08-23         1         0

In [41]:
scores_yesterday = scores_yesterday[['Away_Team', 'Home_Team', 'Date', 'Home_Win']]

In [42]:
yesterday_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Away_Team  14 non-null     object
 1   Home_Team  14 non-null     object
 2   A_Starter  14 non-null     object
 3   H_Starter  14 non-null     object
 4   Date       14 non-null     object
 5   Pred       14 non-null     int64
 6   Away_Prob  14 non-null     float64
 7   Home_Prob  14 non-null     float64
 8   Away_ML    14 non-null     float64
 9   Home_ML    14 non-null     float64
 10  A_Amt_Bet  14 non-null     int64
 11  H_Amt_Bet  14 non-null     int64
 12  Result     0 non-null      float64
 13  Money_Won  14 non-null     int64
 14  Profit     14 non-null     int64
dtypes: float64(5), int64(5), object(5)
memory usage: 1.8+ KB

In [43]:
yesterday_df['Date'] = pd.to_datetime(yesterday_df['Date'])

In [44]:
yesterday_df = pd.merge(yesterday_df, scores_yesterday, on = ['Away_Team', 'Home_Team', 'Date'], how = 'left')

In [45]:
yesterday_df['Result'] = np.where(yesterday_df['Pred'] == yesterday_df['Home_Win'], 1, 0)

In [46]:
yesterday_df = yesterday_df.rename(columns = {'Result' : 'Model_Acc'})

In [47]:
yesterday_df

,Away_Team,Home_Team,A_Starter,H_Starter,Date,Pred,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Model_Acc,Money_Won,Profit,Home_Win
0,STL,PIT,Zack Thompson,Luis Ortiz,2023-08-23,1,0.492632,0.507368,103.0,-103.0,0,0,0,0,0,0.0
1,CHC,DET,Jameson Taillon,Tarik Skubal,2023-08-23,0,0.518322,0.481678,-108.0,108.0,0,0,1,0,0,0.0
2,SEA,CHW,George Kirby,Michael Kopech,2023-08-23,0,0.675819,0.324181,-208.0,208.0,0,0,0,0,0,1.0
3,MIN,MIL,Kenta Maeda,Corbin Burnes,2023-08-23,1,0.421377,0.578623,137.0,-137.0,0,0,1,0,0,1.0
4,KCR,OAK,Cole Ragans,Adrian Martinez,2023-08-23,0,0.524998,0.475002,-111.0,111.0,0,0,1,0,0,0.0
5,SFG,PHI,Alex Cobb,Michael Lorenzen,2023-08-23,1,0.433545,0.566455,131.0,-131.0,0,0,0,0,0,0.0
6,CIN,LAA,Andrew Abbott,Shohei Ohtani,2023-08-23,1,0.497261,0.502739,101.0,-101.0,0,0,0,0,0,0.0
7,MIA,SDP,Sandy Alcantara,Seth Lugo,2023-08-23,1,0.450841,0.549159,122.0,-122.0,0,0,1,0,0,1.0
8,COL,TBR,Austin Gomber,Aaron Civale,2023-08-23,1,0.305328,0.694672,228.0,-228.0,0,0,1,0,0,1.0
9,TOR,BAL,Kevin Gausman,Jack Flaherty,2023-08-23,0,0.513483,0.486517,-106.0,106.0,0,0,0,0,0,1.0
10,WSN,NYY,MacKenzie Gore,Luis Severino,2023-08-23,0,0.514315,0.485685,-106.0,106.0,0,0,0,0,0,1.0
11,LAD,CLE,Clayton Kershaw,Xzavion Curry,2023-08-23,0,0.588583,0.411417,-143.0,143.0,0,0,0,0,0,NaN
12,NYM,ATL,Jose Quintana,Charlie Morton,2023-08-23,1,0.329131,0.670869,204.0,-204.0,0,0,1,0,0,1.0
13,BOS,HOU,Chris Sale,Jose Urquidy,2023-08-23,1,0.459524,0.540476,118.0,-118.0,0,0,0,0,0,0.0

# Re-ordering columns
Now that yesterday_df is filled, we'll re-order the columns, read in the CSV with all the previous model and betting results, concatenate and then re-store in the CSV.

In [48]:
new_order = ['Date', 'Away_Team', 'Home_Team', 'Away_Prob', 'Home_Prob', 'Away_ML', 'Home_ML', 'A_Amt_Bet', 'H_Amt_Bet', 'Money_Won', 'Profit', 'Pred', 'Home_Win', 'Model_Acc']

In [49]:
yesterday_df = yesterday_df[new_order]

In [50]:
yesterday_df

,Date,Away_Team,Home_Team,Away_Prob,Home_Prob,Away_ML,Home_ML,A_Amt_Bet,H_Amt_Bet,Money_Won,Profit,Pred,Home_Win,Model_Acc
0,2023-08-23,STL,PIT,0.492632,0.507368,103.0,-103.0,0,0,0,0,1,0.0,0
1,2023-08-23,CHC,DET,0.518322,0.481678,-108.0,108.0,0,0,0,0,0,0.0,1
2,2023-08-23,SEA,CHW,0.675819,0.324181,-208.0,208.0,0,0,0,0,0,1.0,0
3,2023-08-23,MIN,MIL,0.421377,0.578623,137.0,-137.0,0,0,0,0,1,1.0,1
4,2023-08-23,KCR,OAK,0.524998,0.475002,-111.0,111.0,0,0,0,0,0,0.0,1
5,2023-08-23,SFG,PHI,0.433545,0.566455,131.0,-131.0,0,0,0,0,1,0.0,0
6,2023-08-23,CIN,LAA,0.497261,0.502739,101.0,-101.0,0,0,0,0,1,0.0,0
7,2023-08-23,MIA,SDP,0.450841,0.549159,122.0,-122.0,0,0,0,0,1,1.0,1
8,2023-08-23,COL,TBR,0.305328,0.694672,228.0,-228.0,0,0,0,0,1,1.0,1
9,2023-08-23,TOR,BAL,0.513483,0.486517,-106.0,106.0,0,0,0,0,0,1.0,0
10,2023-08-23,WSN,NYY,0.514315,0.485685,-106.0,106.0,0,0,0,0,0,1.0,0
11,2023-08-23,LAD,CLE,0.588583,0.411417,-143.0,143.0,0,0,0,0,0,NaN,0
12,2023-08-23,NYM,ATL,0.329131,0.670869,204.0,-204.0,0,0,0,0,1,1.0,1
13,2023-08-23,BOS,HOU,0.459524,0.540476,118.0,-118.0,0,0,0,0,1,0.0,0

In [51]:
scoresheet = pd.read_csv('Predictions_Results.csv')

In [52]:
scoresheet = clean_unnamed(scoresheet)

In [53]:
scoresheet = pd.concat([scoresheet, yesterday_df])

In [54]:
scoresheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 0 to 13
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       234 non-null    object
 1   Away_Team  234 non-null    object
 2   Home_Team  234 non-null    object
 3   Away_Prob  234 non-null    float64
 4   Home_Prob  234 non-null    float64
 5   Away_ML    234 non-null    float64
 6   Home_ML    234 non-null    float64
 7   A_Amt_Bet  234 non-null    float64
 8   H_Amt_Bet  234 non-null    float64
 9   Money_Won  222 non-null    float64
 10  Profit     222 non-null    float64
 11  Pred       234 non-null    int64
 12  Home_Win   233 non-null    float64
 13  Model_Acc  234 non-null    int64
dtypes: float64(9), int64(2), object(3)
memory usage: 27.4+ KB

In [55]:
if scoresheet['Home_Win'].isna().any():
    scoresheet.dropna(subset = ['Home_Win'], inplace = True)

In [56]:
filepath = r'C:\Users\Owner\Sports Betting\MLB_Game_Outcome\Predictions_Results.csv'
scoresheet.to_csv(filepath)

In [57]:
total_profit = np.round(scoresheet['Profit'].sum(), 2)
games_pred = len(scoresheet)
acc = scoresheet['Model_Acc'].sum()
pct_profit = np.round(total_profit/(scoresheet['A_Amt_Bet'].sum() + scoresheet['H_Amt_Bet'].sum()), 2)
live_accuracy = np.round(acc/games_pred, 3)

In [58]:
print(f"You have bet a total of ${scoresheet['A_Amt_Bet'].sum() + scoresheet['H_Amt_Bet'].sum()} using this model")
print(f"You have won a total of ${scoresheet['Money_Won'].sum()} using this model")
print(f"Your total profit is ${total_profit}")
print(f"Your profit percentage is {np.round(pct_profit*100, 2)} percent")
print(f"Your model has made {games_pred} predictions on live games.")
print(f"Your model has made {acc} correct predictions on live games.")
print(f"The model's accuracy on live games is {np.round(live_accuracy*100, 2)} percent")

You have bet a total of $203.67 using this model
You have won a total of $163.24 using this model
Your total profit is $-40.43
Your profit percentage is -20.0 percent
Your model has made 233 predictions on live games.
Your model has made 126 correct predictions on live games.
The model's accuracy on live games is 54.1 percent

Just to try to keep the folder nice and tidy, we don't need to keep each individual day's Prediction_Results csv.

In [59]:
import os

csv_file_path = 'Predictions_Results_' + yesterday_str + '.csv'

try:
    os.remove(csv_file_path)
    print(f"CSV file '{csv_file_path}' deleted successfully.")
except FileNotFoundError:
    print(f"CSV file '{csv_file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

CSV file 'Predictions_Results_2023-08-23.csv' deleted successfully.